.features.index
  .block
    .block_head
      %h2
        Level 3 Boundaries - Communes
      %ul
        %li.nobg.back= link_to "Back", :back
    .block_content
      - if collection && collection.count > 0
        %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
          %thead
            %tr
              %th Commune
              %th City
              %th Region
              %th Country
              %th.count Locations
              - if @can_edit
                %th
          %tbody
            - collection.each do |commune|
              %tr
                %td= link_to(commune.name, "/locations?s[commune_id]=#{commune.id}")
                %td= commune.city_name
                %td= commune.region_name
                %td= commune.country_name
                %td.count= commune.locations_count
                - if @can_edit
                  %td= link_to "Edit", edit_commune_path(commune)
            %tr
              %td
              %td
              %td
              %td
              %td.count
                %b= collection.inject(0) {|total, commune| total + commune.locations_count.to_i }
              - if @can_edit
                %td
      - else
        %p
          %br
          No communes are currently available
      %br
