.block
  .block_head
    %h2
      Conversions
    %ul
      %li.nobg.back= link_to "New Conversion", new_conversion_url
  .block_content
    - if collection && collection.count > 0
      %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
        %thead
          %tr
            %th Input File
            %th Input Format
            %th Output File
            %th Output Format
        %tbody
          - collection.each do |conversion|
            %tr
              %td= link_to conversion.input.original_filename, conversion.input.url
              %td= conversion.input_format
              %td= link_to conversion.output.original_filename, conversion.output.url
              %td= conversion.output_format
    - else
      %p
        %br
        No conversions are currently available
    %br