= content_for :title, "New Search"

- content_for :javascripts do
  = javascript_include_tag "mvc/search/new/init", :debug => Rails.env.development?

.block
  .block_head
    %h2
      Search
  .block_content
    = form_for :s, url: "/locations", method: "get" do |form|
      #portlets
        #left.column
          .portlet.map
            .portlet-header
              Map
              %span
                %input#draw{:type=>"checkbox"}
                Check to select bounds for the search
            .portlet-content.nopadding
              #mappanel
          = form.hidden_field :level_id
          %div.boundary
            %label
              Country
            = select_tag("level_0", options_for_select(@all_level_0))
          %br
          = form.label "Street Name"
          = form.text_field :street_name
          = form.hidden_field :bbox, :as => :hidden
          %br
          %br
          %label
            Cities
          = select_tag  "s[cities][]", options_for_select([""] + @all_cities), :"data-placeholder" => "Choose a city", :multiple => true
          %br
          %br
          %label
            Workflow
          = select_tag  "s[statuses][]", options_for_select([""] + Location.new.enums(:status).select_options.map {|x| [x[0].upcase, x[1]]}), :"data-placeholder" => "Choose a status", :multiple => true
          %br
          %br
          = form.label "Location Name"
          = form.text_field :name
          %br
          %br
          %label
            Categories
          = select_tag  "s[categories][]", options_for_select([""] + @all_categories), :"data-placeholder" => "Choose a category", :multiple => true
          %br
          %br
        .column
          = render :partial => "user", :locals => {:title => "Corrected By", :field_title => "corrected_by"}
          = render :partial => "user", :locals => {:title => "Invalidated By", :field_title => "invalidated_by"}
          = render :partial => "user", :locals => {:title => "Field Checked By", :field_title => "confirmed_by"}
          = render :partial => "user", :locals => {:title => "Modified By", :field_title => "modified_by"}
          = render :partial => "user", :locals => {:title => "Audited By", :field_title => "audited_by"}
          = render :partial => "user", :locals => {:title => "Added By", :field_title => "added_by"}
          = form.label "Added Before"
          = form.text_field :added_on_before, :label => "Added Before", :input_html => { :class => 'date_picker' }
          %br
          %br
          = form.label "Added After"
          = form.text_field :added_on_after, :label => "Added After", :input_html => { :class => 'date_picker' }
          .clear
          %input{:class=>"button long", :style=>"float: right; margin-bottom: 20px; margin-right: 22px; margin-top: 10px", :type=>"submit", :value=>"Search"}

:css
  table tr td {padding: 4px}
  .search-choice span {font-size: 10px}

