= content_for :title, "New Search"

.block
  .block_head
    %h2 New Search
  .block_content
    = semantic_form_for object, :url => "/search" do |form|
      #search-parameters
        .filter_group
          %h2 Categorization
          = form.input :name, :required => false, :label => "Location Name"
          = form.input :category_id, :as => :select, :collection => @all_categories, :required => false, :label => "Category"
          %h2 Characteristics
          = form.input :category_missing, :as => :boolean, :required => false, :label => " Category Missing"
          = form.input :category_present, :as => :boolean, :required => false, :label => " Category Present"
        .filter_group
          %h2 Geography
          = form.input :commune_id, :as => :select, :collection => @all_communes, :required => false, :label => "Commune"
          = form.input :city_id, :as => :select, :collection => @all_cities, :required => false, :label => "City"
          = form.input :region_id, :as => :select, :collection => @all_regions, :required => false, :label => "Region"
          = form.input :country_id, :as => :select, :collection => @all_countries, :required => false, :label => "Country"
        .filter_group
          %h2 Auditing
          = form.input :added_by, :as => :select, :collection => @all_users, :label => "Added By", :required => false
          = form.input :confirmed_by, :as => :select, :label => "Field Checked By", :collection => @all_users, :required => false
          = form.input :audited_by, :as => :select, :label => "Audited By", :collection => @all_users, :required => false
          = form.input :modified_by, :as => :select, :label => "Modified By", :collection => @all_users, :required => false
        .filter_group
          %h2 Workflow
          = form.input :added_on_before, :required => false, :label => "Added Before", :input_html => { :class => 'date_input' }
          = form.input :added_on_after, :required => false, :label => "Added After", :input_html => { :class => 'date_input' }
          = form.input :status, :as => :select, :collection => Location.new.enums(:status).select_options.map {|x| [x[0].upcase, x[1]]}   , :required => false
        .clear
        %input{:class=>"button long", :style=>"float: right; margin-bottom: 20px", :type=>"submit", :value=>"Search"}

  :css
    input {width: 170px ! important}
    select {width: 182px ! important}
    div.filter_group {float: left; width: 220px}
  :javascript
    $(document).ready(function() {
      $($.date_input.initialize);
    });
