= content_for :title, "New Search"

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/search/new/init", :debug => Rails.env.development?

.block
  .block_head
    %h2
      Search
  .block_content
    = semantic_form_for :s, url: "/locations", method: "get" do |form|
      #portlets
        #left.column
          .portlet.map
            .portlet-header
              Map
              %span
                %input#draw{:type=>"checkbox"}
                Check to select bounds for the search
            .portlet-content.nopadding
              #mappanel
          .portlet.boundaries
            .portlet-header
              Boundaries
            .portlet-content
              = form.input :level_id, :as => :hidden
              %div.boundary
                %label
                  Country
                = select_tag("level_0", options_for_select([""] + @all_level_0))
          .portlet
            .portlet-header
              Localization (City)
            .portlet-content
              = form.input :city_id, :as => :select, :collection => @all_cities, :required => false, :label => "City"
              = form.input :radius, :required => false
              = form.input :bbox, :as => :hidden
        .column
          .portlet.categorization
            .portlet-header
              Categorization
            .portlet-content
              = form.input :name, :required => false, :label => "Location Name"
              %table.main
              = form.input :category_id, :as => :select, :collection => @all_categories, :required => false, :label => "Category"
          .portlet
            .portlet-header
              Auditing
            .portlet-content
              = form.input :added_by, :as => :select, :collection => @all_users, :label => "Added By", :required => false
              = form.input :corrected_by, :as => :select, :label => "Corrected By", :collection => @all_users, :required => false
              = form.input :invalidated_by, :as => :select, :label => "Invalidated By", :collection => @all_users, :required => false
              = form.input :confirmed_by, :as => :select, :label => "Field Checked By", :collection => @all_users, :required => false
              = form.input :audited_by, :as => :select, :label => "Audited By", :collection => @all_users, :required => false
              = form.input :modified_by, :as => :select, :label => "Modified By", :collection => @all_users, :required => false
          .portlet
            .portlet-header
              Workflow
            .portlet-content
              = form.input :added_on_before, :required => false, :label => "Added Before", :input_html => { :class => 'date_picker' }
              = form.input :added_on_after, :required => false, :label => "Added After", :input_html => { :class => 'date_picker' }
              = form.input :status, :as => :select, :collection => Location.new.enums(:status).select_options.map {|x| [x[0].upcase, x[1]]}   , :required => false
          .clear
          %input{:class=>"button long", :style=>"float: right; margin-bottom: 20px", :type=>"submit", :value=>"Search"}


