= content_for :title, "Edit #{object.name} Categories"

- content_for :javascripts do
  = javascript_include_tag "/assets/partners.edit", :debug => Rails.env.development?

%div.block
  %div.block_head
    %h2
      Edit #{object.name} Categories
      = link_to "New Partner Category", new_partner_partner_category_path(object)
      = link_to "Back", partners_path
  .block_content
    #portlets
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      .portlet
        .portlet-header
          Mappings
        .portlet-content.nopadding
          %table.main
            %thead
              %tr
                %th.selector= check_box_tag 'selector'
                %th Icon
                %th Code
                %th Name
                %th 0-One Categories
            %tbody{"data-partner-id" => object.id}
              - if object.partner_categories && object.partner_categories.size > 0
                - object.partner_categories.each do |category|
                  %tr{"data-id" => category.id}
                    %td.selector
                      = check_box_tag 'selector'
                    %td.icon
                      = category.icon ? image_tag(category.icon.url) : ""
                    %td.code
                      = category.code
                    %td.name
                      = link_to category.french, edit_partner_partner_category_path(object, category)
                      %br
                      %div
                        = category.english
                    %td.categories
                      - if category.categories
                        .inline-list
                          = category.categories.map{|mapped|"<span data-id='#{mapped.id}'>#{mapped.french}" + link_to("x", "#", :class => "inline-delete") + "</span>"}.join(" ").html_safe
                      = link_to "(+)", "#", :class => "add-category-inline"
