= content_for :title, "Edit Partner"

%div.block
  %div.block_head
    %h2 Edit #{object.name} Classifications
    %ul
      %li.nobg= link_to "Back", partners_path
  .block_content
    #portlets
      .portlet
        .portlet-header
          Classifications
          %span
            = link_to "New Classification", new_partner_classification_path(object)
        .portlet-content.nopadding
          %table.datatable
            %thead
              %th French
              %th English
              %th Categories
              %th
              %th
            %tbody
              - object.classifications.each do |classification|
                %tr
                  %td= classification.french
                  %td= classification.english
                  %td= classification.categories.map{|c| c.french}.join(", ")
                  %td= link_to "Edit", edit_partner_classification_path(classification.partner, classification)
                  %td= link_to "Delete", partner_classification_path(classification.partner, classification), :class => "delete-classification"
:javascript
  $(document).ready(function() {
    $("a.delete-classification").click(function() {
      var a = $(this);
      $.ajax({
        type: 'POST',
        url: $(this).attr("href"),
        dataType: 'script',
        data: {'_method': 'delete'},
        success: function() {
          a.closest("tr").remove();
          return false;
        }
      });
      return false;
    });
  })