= content_for :title, "Edit Partner"

%div.block
  %div.block_head
    %h2
      Edit
      = object.name
      Classifications
    %ul
      %li.nobg
        = link_to "Back", partners_path
  .block_content
    #portlets
      .portlet
        .portlet-header
          Classifications
          %span
            = link_to "New Classification", new_partner_classification_path(object)
        .portlet-content.nopadding
          %table.datatable
            %thead
              %th French
              %th English
              %th Categories
            %tbody
              - object.classifications.each do |classification|
                %tr
                  %td= classification.french
                  %td= classification.english
                  %td= classification.categories.map{|c| c.french}.join(", ")
