= content_for :title, "Edit Partner"

%div.block
  %div.block_head
    %h2
      Edit #{object.name} Categories
      = link_to "Back", partners_path
  .block_content
    #portlets
      .portlet
        .portlet-header
          New Classification
        .portlet-content
          = form_for @category, :url => {:action => "create", :controller => "partner_categories", :partner_id => @category.partner_id} do |f|
            = f.hidden_field :partner_id, :value => @category.partner_id
            French:
            = f.text_field :french, :style=>"width: 150px"
            English:
            = f.text_field :english, :style=>"width: 150px"
            Code:
            = f.text_field :code, :style=>"width: 150px"
            = f.submit "Create Partner Category"
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      .portlet
        .portlet-header
          Mappings
        .portlet-content.nopadding
          %table.main
            %tbody
              %tr
                %th= check_box_tag 'selector'
                %th Icon
                %th{:style=>"width: 150px"} Name
                %th 0-One Categories
              - if @classifications && @classifications.size > 0
                - @classifications.each do |taxonomy|
                  %tr
                    %td{:style=>"width: 10px"}
                      = check_box_tag 'selector'
                    %td{:style=>"width: 30px"}
                      = taxonomy[:icon] ? image_tag(taxonomy[:icon]) : ""
                    %td
                      = taxonomy[:french]
                      %br
                      %div{:style=>"font-style: italic; padding-top: 3px"}
                        =taxonomy[:english]
                    %td
                      - if taxonomy[:categories]
                        = taxonomy[:categories].map{|category|"<span>" + category[:french] + link_to("x", category[:delete_link], :method => :delete, :confirm => "Are you sure you want to delete this category?", :remote => :true, :class => "tag_delete") + "</span>"}.join(" ").html_safe
                      = link_to "(+)", "#"
:javascript
  $(document).ready(function() {
    $("a.delete-classification").click(function() {
      var a = $(this);
      $.ajax({
        type: 'POST',
        url: $(this).attr("href"),
        dataType: 'script',
        data: {'_method': 'delete'},
        success: function() {
          a.closest("tr").remove();
          return false;
        }
      });
      return false;
    });
  })