= content_for :title, "Partners"

- content_for :javascripts do
  = javascript_include_tag "/assets/partners.index", :debug => Rails.env.development?

.block
  .block_head
    %h2
      Partners
      = link_to "New Partner", new_partner_path
  .block_content
    #portlets
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      .portlet
        .portlet-header
          Listing
        .portlet-content.nopadding
          %table.main
            %thead
              %tr
                %th.selector
                  %input{:type=>"checkbox"}
                %th Name
                %th{:style=>"width: 100px"} Categories
            %tbody
              - @partners.each do |partner|
                %tr{:"data-id" => partner.id}
                  %td.selector
                    %input{:type=>"checkbox"}
                  %td= link_to partner.name, edit_partner_path(partner)
                  %td= partner.partner_categories.count


