= content_for :title, "Partners"

.block
  .block_head
    %h2 Partners
  .block_content
    #portlets
      .portlet
        .portlet-header
          Listing
          %span
            = link_to "New Partner", new_partner_path
            |
            = link_to "Delete Selection", :confirm => 'Are you sure?', :method => :delete
        .portlet-content.nopadding
          %table
            %tbody
              %tr
                %th{:style=>"width: 20px"}
                %th Name
                %th{:style=>"width: 100px"} Mappings
              - @partners.each do |partner|
                %tr
                  %td
                    %input{:type=>"checkbox"}
                  %td= link_to partner.name, edit_partner_path(partner)
                  %td= partner.mappings.count


