= content_for :title, "New Partner"

%div.block
  %div.block_head
    %h2
      New Partner
    %ul
      %li.nobg= link_to "Back", partners_path
  %div.block_content
    = semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |form|
      = form.input :name, :input_html => { :class => "text" }
      = form.commit_button :button_html => { :class => "submit long" }



