= content_for :title, "New Partner"

.block
  .block_head
    %h2
      New Partner
      = link_to "Back", partners_path
  .block_content
    #portlets
      = semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |form|
        .portlet
          .portlet-header
            Listing
          .portlet-content
            = form.input :name, :input_html => { :class => "text", :style=>"width: 890px" }
        .clear
        .form_commit
          = form.commit_button



