= content_for :title, "Dashboard"

.features.summary
  .block
    %br
    .block_head
      %h2 Dashboard
      %ul
        %li.nobg= link_to "Back", :back
    .block_content

      %h3 Links
      %ul
        %li{:style=>"font-weight: bold"}
          = link_to "GeoCMS Technical Support", "http://codeifier.lighthouseapp.com/"
        %li{:style=>"font-weight: bold"}
          = link_to "GeoCMS Wiki", "http://wiki.0-one.net/"

      %h3 Database Statistics
      %ul
        %li
          Number of Points of Interest:
          = number_with_delimiter(@location_count)
        %li
          Number of Tags (POI/Category Mapping):
          = number_with_delimiter(@tag_count)
        %li
          Number of Untagged Points of Interest:
          = number_with_delimiter(@untagged_count)
        %li
          Number of Level 3 Administrative Units:
          = number_with_delimiter(@level_3_count)
        %li
          Number of Level 2 Administrative Units:
          = number_with_delimiter(@level_2_count)
        %li
          Number of Level 1 Administrative Units:
          = number_with_delimiter(@level_1_count)
        %li
          Number of Level 0 Administrative Units:
          = number_with_delimiter(@level_0_count)
      %h3 Workflow Statistics
      %ul
        %li
          Number of New Points of Interest:
          = number_with_delimiter(@new_locations)
        %li
          Number of Audited Points of Interest:
          = number_with_delimiter(@audited_locations)
        %li
          Number of Invalid Points of Interest::
          = number_with_delimiter(@invalid_locations)
        %li
          Number of Corrected Points of Interest:
          = number_with_delimiter(@corrected_locations)
        %li
          Number of Field Checked Points of Interest:
          = number_with_delimiter(@field_checked_locations)
