= content_for :title, t('dashboard')

.features.summary
  .block
    %br
    .block_head
      %h2 
        =t('dashboard')
    .block_content
      #portlets
        #left.column
          .portlet
            .portlet-header
              =t('resolved_issues')
            .portlet-content.nopadding
              %table
                %thead
                  %tr
                    %th
                      =t('title')
                    %th
                      =t('author')
                    %th
                      =t('opened')
                    %th
                      =t('closed')
                - for ticket in @resolved
                  %tr
                    %td
                      =link_to ticket.title, ticket.url
                    %td
                      = ticket.creator_name
                    %td
                      = DateTime.parse(ticket.created_at).strftime("%d-%m-%Y")
                    %td
                      = DateTime.parse(ticket.updated_at).strftime("%d-%m-%Y")
        .column
          .portlet
            .portlet-header
              =t('oustanding_issues')
            .portlet-content.nopadding
              %table
                %thead
                  %tr
                    %th
                      =t('title')
                    %th
                      =t('author')
                    %th
                      =t('opened')
                    %th
                      =t('status')
                - for ticket in @outstanding
                  %tr
                    %td
                      =link_to ticket.title, ticket.url
                    %td
                      = ticket.creator_name
                    %td
                      = DateTime.parse(ticket.created_at).strftime("%d-%m-%Y")
                    %td
                      = ticket.state