- content_for :search do
  = render :partial => "shared/generic_search_bar", :locals => {:action => "/dashboard", :show_advanced => false, :title => "Issues"}

= content_for :title, "Dashboard"

.features.summary
  .block
    .block_content
      #portlets
        .portlet
          .portlet-content.nopadding
            %table
              %thead
                %tr
                  %th
                    =t :title
                  %th
                    =t :author
                  %th
                    =t :opened
                  %th
                    =t :status
              - for ticket in @tickets
                %tr
                  %td
                    =link_to ticket.title, ticket.url
                  %td
                    = ticket.creator_name
                  %td
                    = DateTime.parse(ticket.created_at).strftime("%d-%m-%Y")
                  %td
                    = ticket.state
    .clear