.features.summary
  .block
    .block_head
      %h2 Geospatial Database
      %ul
        %li.nobg= link_to "Back", :back
    .block_content
      .message.info
        %p
          To report bugs or request new features, you MUST create a support ticket. For bugs, recreation steps must
          be provided otherwise the ticket will be marked INVALID.
      .message.info
        %p
          If you do not have a support account, please ask Olivier or Moussa for one.
      %br
      %h3 Links
      %ul
        %li{:style=>"font-weight: bold"}
          = link_to "GeoCMS Technical Support", "http://support.0-one.net/"
        %li{:style=>"font-weight: bold"}
          = link_to "GeoCMS Wiki", "http://wiki.0-one.net/"
        %li{:style=>"font-weight: bold"}
          = link_to "GeoCMS Test", "http://test.0-one.net/"

      %h3 Database Statistics
      %ul
        %li
          Number of Points of Interest:
          = number_with_delimiter(@location_count)
        %li
          Number of communes:
          = number_with_delimiter(@commune_count)
        %li
          Number of regions:
          = number_with_delimiter(@region_count)
        %li
          Number of cities:
          = number_with_delimiter(@city_count)
      %h3 Workflow Statistics
      %ul
        %li
          Number of New Points of Interest:
          = number_with_delimiter(@new_locations)
        %li
          Number of Audited Points of Interest:
          = number_with_delimiter(@audited_locations)
        %li
          Number of Invalid Points of Interest::
          = number_with_delimiter(@invalid_locations)
        %li
          Number of Corrected Points of Interest:
          = number_with_delimiter(@corrected_locations)
        %li
          Number of Field Checked Points of Interest:
          = number_with_delimiter(@field_checked_locations)
