<html>
<head>
  <%= include_javascripts :global  %>
  <%= include_javascripts :mapping  %>
  <%= stylesheet_link_tag 'ext-all' %>
  <title></title>
</head>
<body style="background: url(/images/all_bg.gif)  repeat fixed 50% 0 transparent">

<script type="text/javascript">
  $(document).ready(function() {

    var showCutoffWarning = function() {
      $(".cutoff-warning").empty();
      $(".cutoff-warning").append("<p>More than 99 locations were found matching your criteria. Zoom in and click <b>refresh</b> to view more locations.</p><br/>")
    };

    var createList = function(listWrapper, locations) {
      if (locations.length == 99) showCutoffWarning();
      listWrapper.empty();
      for(var i = 0; i < locations.length; i++) {
        var map_icon = "/graphics/map_icon?num=" + (i + 1);
        var loc = locations[i];
        loc.attributes["thumbnail"] = map_icon;
        var place = loc.attributes["country"];
        if (loc["city_name"]) place = place + loc["city_name"];
        listWrapper.append("<li>"
                + "<div style='display: inline-block; float: left; width: 24px; text-align: right; padding-right: 5px; height:40px'>" + (i + 1) + ". </div>"
                + "<a href='#" + loc.fid + "'>"
                + loc.attributes["name"]
                + "</a><br/><span>"
                +  place
                + "</span><div style='clear: both'></div></li>");
      }
    };

    window.showLocations = function(data, listContainer, layer, pageSize) {
      layer.destroyFeatures();
      var geojson_format = new OpenLayers.Format.GeoJSON();
      var locations = geojson_format.read(data);
      var listWrapper = listContainer.find(".content");
      createList(listWrapper, locations);
      layer.addFeatures(locations);
      listContainer.pajinate({num_page_links_to_display: 5, items_per_page: pageSize});
    };

    $(".list-of-categories").pajinate({num_page_links_to_display: 5, items_per_page: 13});
    var settings = new Spatial.Models.Settings();
    settings.urls = ["http://galileo.codeifier.com/cgi-bin/mapserv?map=/home/deployment/mapserver/mapfiles/geocms.map"];
    settings.layers = ["road-labels", "countries", "water", "roads-other", "roads-type-5", "roads-type-4", "roads-type-3", "roads-type-2", "roads-type-1"];
    window.map = new Spatial.Models.Map(settings);
    window.features = new OpenLayers.Layer.Vector("vector");
    window.map.instance.addLayer(window.features);
    var style = new OpenLayers.Style({externalGraphic: '${thumbnail}', 'pointRadius': 10});
    window.features.styleMap = new OpenLayers.StyleMap({'default': style});
    window.features.events.register('featuresadded', this, function(features) {
      window.map.instance.zoomToExtent(window.features.getDataExtent());
    });

    var mapPanel = new GeoExt.MapPanel({
      renderTo: "map",
      map: window.map.instance
    });
    window.map.instance.zoomTo(2);
    $("#tabs").tabs();

  });
</script>


<div style="height: 100%">

  <div style="padding: 20px">
    <div id="header" style="height: 50px; background-color: #212121; color: white; padding: 5px; padding-top: 10px">
      <img src="images/logo.png" style="float: left" />
      <ul>
        <li><a href="http://www.0-one.net/">Accueil</a></li>
        <li><a href="http://www.0-one.net/index.php?option=com_content&view=article&id=52&Itemid=69">Services</a></li>
        <li><a href="http://www.0-one.net/index.php?option=com_content&view=article&id=64&Itemid=72">Boutique</a></li>
        <li><a href="http://www.0-one.net/index.php?option=com_content&view=article&id=60&Itemid=84">Société</a></li>
        <li><a href="http://www.0-one.net/index.php?option=com_contact&view=contact&id=2&Itemid=58">Contacts</a></li>
      </ul>
    </div>
    <div style="height: 880px">
      <div id="actions" style="height: 882px">
        <div id="tabs"><%= render :partial => "tabs" %></div>
        <div id="tab-content">
          <div id="locations" class="tab-body">
            <%= render :partial => "locations" %>
          </div>
          <div id="localization" class="tab-body">
            <%= render :partial => "localization" %>
          </div>
          <div id="routing"  class="tab-body">
            <%= render :partial => "routing" %>
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>
</div>

<style type="text/css">

  * {
margin:0; /* zero out margin */
padding:0; /* zero out padding */
}

  body, html {margin: 0; height: 100%}

  .tabs a {
    background: none repeat scroll 0 0 #E4E4E4;
    border-color: #DDDDDD;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #999999;
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding: 4px 20px 4px 9px;
    position: relative;
    text-decoration: none
  }

  .tabs {
      background: url("http://192.168.0.113:8889/images/sprite.png") repeat-x scroll 0 -490px #EEEEEE;
      height: 30px;
      padding: 10px 10px 0;
  }

  .page_link, .first_link, .previous_link, .next_link, .last_link, .ellipse {float: left; margin-left: 5px}

  .page_navigation {margin-top: 10px; font-size: 11px}
  .page_navigation .active_page {font-weight: bold}

  .tab-body {padding: 20px; font-size: 12px; line-height: 16px; font-family: Arial; color: #434343}

  #locations li {margin-top: 5px}

  .ui-tabs-hide {display: none}

  #actions {background-color: #F8F8F8; height: 100%; width: 410px; float: right; border-left: 1px solid #999}

  #map {background-color: blue; height: 100%; margin-right: 200px}

  .tabs a {font: 13px/20px "Helvetica Neue",Helvetica}

        .tabs .ui-tabs-selected a {
    background: none repeat scroll 0 0 #F8F8F8;
    border-color: #CCCCCC;
    color: #434343;
    padding-bottom: 5px;
}

  #header ul li {float: left; margin-left: 35px; margin-top: 25px}
  #header ul li a {font-family: Arial; font-size: 12px; color: #bbb; font-weight: bold; text-decoration: none}
  #header ul li a:hover {color: white}
  #header ul {display: inline}

.divider {border: 1px solid #aaa; border-width: 0 0 1px 0; margin-bottom: 10px}

</style>


</body>
</html>