= content_for :title, "View Categories"

%div.block
  %div.block_head
    %h2
      Users
    %ul
      %li.nobg= link_to "New User", new_user_path
  %div.block_content
    %form{:method => "post"}
      %table{:style => "width: 100%; margin-left: 0px", :cellspacing => "0", :cellpadding => "0"}
        %thead
          %tr
            %th Name
            %th Last Logged In At
            %th Can Login?
            %th Role
            %th
            %th
            %th
        %tbody
        - for user in @users
          %tr
            %td= link_to user.login, user_path(user)
            %td= user.last_login_at
            %td= user.is_active
            %td= user.role_name
            %td= user.email
            %td= link_to_unless user.is_active,"Edit",edit_user_path(user)
            %td.delete= link_to "Delete", user_path(user), :confirm => 'Are you sure?', :method => :delete
      %div{:style=>"width: 100%; float: right"}
        = select_tag "pages", options_for_select(["10", "20", "50", "100"], params[:per_page]), :style => "width: 70px; padding: 2px; margin-top: -3px"
        = will_paginate @users, :params => @params, :class => "paggination right"

  :javascript
    $(document).ready(function() {
      $("#pages").change(function() {
        window.location = $.param.querystring(window.location.href, {per_page: $(this).val()});
      });
    });
