= content_for :title, "View Categories"

%div.block
  %div.block_head
    %h2
      Users
      = link_to "New User", new_user_path, :class=> "heading-action"
  %div.block_content
    %form{:method => "post"}
      #portlets
        .portlet
          .portlet-content.nopadding.noborder
            %table.main
              %thead
                %tr
                  %th.selector
                    %input{:type=>"checkbox"}
                  %th Name
                  %th{:style=>"width: 150px"} Last Logged In At
                  %th{:style=>"width: 80px; text-align: center"} Active
                  %th{:style=>"width: 70px"} Role
              %tbody
              - for user in @users
                %tr
                  %td
                    %input{:type=>"checkbox"}
                  %td= link_to user.login, user_path(user)
                  %td= user.last_login_at
                  %td{:style=>"text-align: center"}
                    %input{:type=>"checkbox", :checked => user.is_active, :disabled => "true"}
                  %td= user.role_name
            = render :partial => "shared/paging", :locals => {:collection => @users, :page_size => @per_page}

