= content_for :title, t('view_cat')

%div.block
  %div.block_head
    %h2
      =t('users')
      = link_to t('new_user'), "#", :class=> "heading-action"
  %div.block_content
    %form{:method => "post"}
      #portlets
        .portlet
          .portlet-header
            =t('listing')
          .portlet-content.nopadding
            %table.main
              %thead
                %tr
                  %th.selector
                    %input{:type=>"checkbox"}
                  %th 
                    =t('name')
                  %th{:style=>"width: 150px"} 
                    =t('last_logged')
                  %th{:style=>"width: 80px; text-align: center"} 
                    =t('_active')
                  %th{:style=>"width: 70px"} 
                    =t('_role')
              %tbody
              - for user in @users
                %tr
                  %td
                    %input{:type=>"checkbox"}
                  %td= link_to user.login, user_path(user)
                  %td= user.last_login_at
                  %td{:style=>"text-align: center"}
                    %input{:type=>"checkbox", :checked => user.is_active, :disabled => "true"}
                  %td= user.role_name
            = render :partial => "shared/paging", :locals => {:collection => @users, :page_size => @per_page}
