= content_for :title, "View Categories"

- content_for :search do
  #search-bar
    .clear
    .wrapper
      %form.search{:method=>"get", :action=> "/users", :style=>"padding-top: 17px"}
        %h1{:style=>"float: left; color: #434343; margin-left: 20px; width: 140px"}
          Users
        %input{:type=>"text", :id=>"s[name]", :name=>"s[name]"}
        %button.search-button{:style=>"margin-left: 5px"}
          %div
            =image_tag "search_white.png"
      %form.new{:method=>"get", :action => "/users/new"}
        %button.red-button
          %div
            New user

%div.block
  %div.block_content
    %form{:method => "post"}
      #portlets
        .portlet
          .portlet-content.nopadding.noborder
            %table.main
              %thead
                %tr
                  %th.selector
                    %input{:type=>"checkbox"}
                  %th= link_to "Name", url_for(@sort_params.merge({:sort => "login"}))
                  %th= link_to "Last Logged In At", url_for(@sort_params.merge({:sort => "last_login_at"}))
                  %th= link_to "Active", url_for(@sort_params.merge({:sort => "is_active"}))
                  %th= link_to "Role", url_for(@sort_params.merge({:sort => "role_name"}))
              %tbody
              - for user in @users
                %tr
                  %td
                    %input{:type=>"checkbox"}
                  %td.name= link_to user.login, edit_user_path(user), :"data-id" => user.id
                  %td= user.last_login_at ? time_ago_in_words(user.last_login_at) : "never"
                  %td{:style=>"text-align: center"}
                    %input{:type=>"checkbox", :checked => user.is_active, :disabled => "true"}
                  %td= user.role_name
            = render :partial => "shared/paging", :locals => {:collection => @users, :page_size => @per_page}

:javascript
  $(function() {
    new GeoCMS.Views.Users.SearchResults({el: "table.main"});
    new GeoCMS.Views.Users.Creator({el: "#search-bar"});
  });