= content_for :title, "Show User"

%div.block
  %div.block_head
    %h2
      User Details
      = link_to "Edit", edit_user_path(object)
  .block_content
    #portlets
      .portlet
        .portlet-header
          Listing
        .portlet-content
          %ul
            %li
              %b Username:
              = object.login
            %li
              %b Email:
              = object.email
            %li
              %b Skype Alias:
              = object.skype_alias
            %li
              %b Home Country:
              = object.home_country
            %li
              %b Mobile Number:
              = object.mobile_number

