= content_for :title, "New Routing Network"

.block
  .block_head
    %h2 New Routing Network
  .block_content
    = semantic_form_for @network, :url => network_path, :html => { :enctype => "multipart/form-data"} do |f|
      = f.input :input, :as => :file, :label => "Data File"
      = f.semantic_errors :input
      = f.commit_button :button_html => { :class => "submit long" }, :label => "Process File"