= content_for :title, t('imports')
.block
  .block_head
    %h2
      =t ('imports')
      = link_to t('new_import'), new_import_url
  .block_content
    - if @imports && @imports.count > 0
      %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
        %thead
          %tr
            %th 
              =t ('input_file')
            %th{:style=>"width: 140px"} 
              =t ('location_imported')
            %th{:style=>"width: 100px"}
              =t ('user')
            %th{:style=>"width: 100px"} 
              =t ('date_imported')
        %tbody
          - @imports.each do |import|
            %tr
              %td= link_to import.input.original_filename, import.input.url
              %td= link_to import.labelled_locations, "/locations?s[import_id]=#{import.id}"
              %td= import.user.login
              %td= import.created_at.strftime("%d-%m-%Y")
      %br
        %div
          = render :partial => "shared/paging", :locals => {:collection => @imports, :page_size => @per_page}
    - else
      %p
        %br
          =t ('no_imports')
    %br