- content_for :search do
  #search-bar
    .wrapper
      .clear
      %form{:method=>"get", :style=>"padding-top: 17px; width: 700px; display: inline"}
        %h1{:style=>"float: left; color: #434343; margin-left: 20px; width: 140px"}
          Imports
        %input{:type=>"text", :id=>"s[name]", :name=>"s[name]", :style => "width: 385px"}
        %button#submit.nodropdown
          %div
            =image_tag "search_white.png"
      %form{:method=>"get", :action => "/imports/new", :style=>"padding-top: 17px; display: inline; width: 150px"}
        %button.red-button
          %div
            Import data

= content_for :title, "Imports"
.block
  .block_content
    - if @imports && @imports.count > 0
      .portlet
        .portlet-content.nopadding
          %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
            %thead
              %tr
                %th Source
                %th{:style=>"width: 100px"} User
                %th{:style=>"width: 100px"} Date Imported
            %tbody
              - @imports.each do |import|
                %tr
                  %td= link_to import.input.original_filename, import.input.url
                  %td= import.user.login
                  %td= import.created_at.strftime("%d-%m-%Y")
          = render :partial => "shared/paging", :locals => {:collection => @imports, :page_size => @per_page}
    - else
      %p
        %br
        No imports are currently available
    %br
