= content_for :title, "Imports"
.block
  .block_head
    %h2
      Imports
    %a{:style=>"float: right; font-size: 11px", :href=> new_import_path(page: params[:page], per_page: params[:per_page])}
      = image_tag("Helveticons-306.gif", :style=>"height: 20px; position: relative; top: 5px")
      New Import
  .block_content
    #portlets
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      .portlet
        .portlet-content.nopadding.table
          - if @imports && @imports.count > 0
            %table
              %thead
                %tr
                  %th.selector
                    %input{:type=>"checkbox"}
                  %th Input File
                  %th{:style=>"width: 100px"} User
                  %th{:style=>"width: 100px"} Date Imported
              %tbody
                - @imports.each do |import|
                  %tr
                    %td.selector
                      %input{:type=>"checkbox"}
                    %td= link_to import.input.original_filename, import.input.url
                    %td= import.user.login
                    %td= import.created_at.strftime("%d-%m-%Y")
            = render :partial => "shared/paging", :locals => {:collection => @imports, :page_size => @per_page}
