= content_for :title, "Gowane CMS - Import GPX"

.block
  .block_head
    %h2 Import GPX
  .block_content
    = semantic_form_for @import, :html => { :enctype => "multipart/form-data"} do |f|
      = f.input :content, :as => :file, :label => "GPX File"
      = f.input :user_id, :as => :select, :label => "Collector", :collection => @all_users
      = f.commit_button :button_html => { :class => "submit long" }, :label => "Process File"