= content_for :title, "Preview Updates"
.block
  .block_head
    %h2
      Imports - Preview Changes
      = link_to "Apply Updates", "#"
  .block_content
    = form_for :changes, :url => execute_import_path(object) do
      %table{:style=>"width: 100%"}
        %tr
          %th
            %input{:type=>"checkbox"}
          %th ID
          %th Name
          %th{:style=>"width: 150px"} Longitude
          %th{:style=>"width: 150px"} Latitude
        - @selections.each do |selection|
          %tr
            %td
              %input{:type=>"checkbox", :name=>"selected[]", :value => "#{selection.id}"}
            - if selection.original
              %td= selection.original.id
              %td= "<b class='change'>Before:</b> #{selection.original.name} <br/> <b class='change'>After:</b> #{selection.name}".html_safe
              %td= "<b class='change'>Before:</b> #{selection.original.longitude} <br/> <b class='change'>After:</b> #{selection.longitude}".html_safe
              %td= "<b class='change'>Before:</b> #{selection.original.latitude} <br/> <b class='change'>After:</b> #{selection.latitude}".html_safe
            - else
              %td NEW
              %td= selection.name
              %td= selection.longitude
              %td= selection.latitude

:css
  .change {display: inline-block; width: 50px}

- content_for :javascripts do
  :javascript
    $(document).ready(function() {

      $("th input[type=checkbox]").click(function() {
        var master = $(this);
        var isChecked = master.attr("checked");
        $("td input[type=checkbox]").attr("checked", isChecked);
      });

      $(".block_head a").click(function() {
        if ($("td input[type=checkbox]:checked").length < 1) {
          alert("Please select one or more changes to make");
          return false;
        }
        $("form").submit();
        return false;
      });
    });