= content_for :title, "Boundaries"

.block
  .block_head
    %h2
      Boundaries
      = link_to "Country Field Collection", "#", :class=> "heading-action"
  .block_content
    #portlets
      .bulk-actions
        %select
          %option Change Level
          %option Level 0
          %option Level 1
          %option Level 2
          %option Level 3
        %input.button{:type=>"button", :value=>"Change"}
      .clear
      .portlet
        .portlet-header
          Listing
        .portlet-content.nopadding
          %table.main
            %thead
              %tr
                %th.level Level 0
                - if @depth >= 1
                  %th.level  Level 1
                - if @depth >= 2
                  %th.level  Level 2
                - if @depth >= 3
                  %th.level  Level 3
                %th.total_POI Total
                %th.new New
                %th.invalid Invalid
                %th.corrected Corrected
                %th.audited Audited
                %th.checked Checked
                %th.uncategorized Untagged
            %tfoot
              %tr
                %td
                - if @depth >= 1
                  %td
                - if @depth >= 2
                  %td
                - if @depth >= 3
                  %td
                %td.total_POI
                  = linked_figure(@collection.inject(0) {|total, city| total + city.total_locations.to_i }, nil)
                %td.new
                  = linked_figure(@collection.inject(0) {|total, city| total + city.new_locations.to_i }, nil)
                %td.invalid
                  = linked_figure(@collection.inject(0) {|total, city| total + city.invalid_locations.to_i }, nil)
                %td.corrected
                  = linked_figure(@collection.inject(0) {|total, city| total + city.corrected_locations.to_i }, nil)
                %td.audited
                  = linked_figure(@collection.inject(0) {|total, city| total + city.audited_locations.to_i }, nil)
                %td.checked
                  = linked_figure(@collection.inject(0) {|total, city| total + city.field_checked_locations.to_i }, nil)
                %td.uncategorized
                  = linked_figure(@collection.inject(0) {|total, city| total + city.uncategorized_locations.to_i }, nil)
            %tbody
              - @collection.each do |row|
                %tr
                  %td= row.level_0
                  - if @depth >= 1
                    %td= row.level_1
                  - if @depth >= 2
                    %td= row.level_2
                  - if @depth >= 3
                    %td= row.level_3
                  = render :partial => "list_boundaries", :locals => {:area => row, :prefix => "/locations?#{administrative_unit_finder(@depth, row)}"}

