= content_for :title, t('boundaries')

.block
  .block_head
    %h2
      =t('boundaries')
      = link_to t('country_collection'), "#", :class=> "heading-action"
  .block_content
    #portlets
      .bulk-actions
        %select
          %option 
            =t('level_change')
          %option 
            =t('level_0')
          %option 
            =t('level_1')
          %option
            =t('level_2')
          %option
            =t('level_3')
        %input.button{:type=>"button", :value=>"Change"}
      .clear
      .portlet
        .portlet-header
          =t('listing')
        .portlet-content.nopadding
          %table.main
            %thead
              %tr
                %th.level
                  =t('level_0')
                - if @depth >= 1
                  %th.level
                    =t('level_1')
                - if @depth >= 2
                  %th.level
                    =t('level_2')
                - if @depth >= 3
                  %th.level
                    =t('level_3')
                %th.total_POI
                  =t('total')
                %th.new 
                  =t('_new')
                %th.invalid 
                  =t('_invalid')
                %th.corrected
                  =t('corrected')
                %th.audited
                  =t('audited')
                %th.checked
                  =t('checked')
                %th.uncategorized 
                  =t('untagged')
            %tfoot
              %tr
                %td
                - if @depth >= 1
                  %td
                - if @depth >= 2
                  %td
                - if @depth >= 3
                  %td
                %td.total_POI
                  = linked_figure(@collection.inject(0) {|total, city| total + city.total_locations.to_i }, nil)
                %td.new
                  = linked_figure(@collection.inject(0) {|total, city| total + city.new_locations.to_i }, nil)
                %td.invalid
                  = linked_figure(@collection.inject(0) {|total, city| total + city.invalid_locations.to_i }, nil)
                %td.corrected
                  = linked_figure(@collection.inject(0) {|total, city| total + city.corrected_locations.to_i }, nil)
                %td.audited
                  = linked_figure(@collection.inject(0) {|total, city| total + city.audited_locations.to_i }, nil)
                %td.checked
                  = linked_figure(@collection.inject(0) {|total, city| total + city.field_checked_locations.to_i }, nil)
                %td.uncategorized
                  = linked_figure(@collection.inject(0) {|total, city| total + city.uncategorized_locations.to_i }, nil)
            %tbody
              - @collection.each do |row|
                %tr
                  %td= row.level_0
                  - if @depth >= 1
                    %td= row.level_1
                  - if @depth >= 2
                    %td= row.level_2
                  - if @depth >= 3
                    %td= row.level_3
                  = render :partial => "list_boundaries", :locals => {:area => row, :prefix => "/locations?#{administrative_unit_finder(@depth, row)}"}
