%td.total_POI= area.locations_count
%td.pending= area.pending_locations
%td.invalid= area.invalid_locations
%td.audited= area.audited_locations
%td.field_checked= area.field_checked_locations
%td.categorized= area.categorized_locations