%td.total_POI= area.total_locations || 0
%td.pending= area.new_locations || 0
%td.invalid= area.invalid_locations || 0
%td.invalid= area.corrected_locations || 0
%td.audited= area.audited_locations || 0
%td.field_checked= area.field_checked_locations || 0
%td.categorized= area.uncategorized_locations || 0
