.tab-contents
  .editor
    %textarea{:style=>"height: 50px; width: 300px; float: left"}
    %ul{:style=>"float: left; margin-left: 20px"}
      %li= link_to "Préciser le quartier", "#"
      %li= link_to "Doublon? sinon préciser le quartier", "#"
      %li= link_to "Revoir l'orthographe", "#"
      %li= link_to "Indiquer le nom exact", "#"
      %li= link_to "Préciser le quartier", "#"
  .clear
  %ul.comments
.clear
.actions
  %button.blue-button
    %div
      Accept
:css
  .editor ul li a {font-size: 11px}