.portlet
  .portlet-header
    History
  .portlet-content
    %p
    - @location.changesets.each do |audit|
      .audit
        .author{:style=>"width: 150px; float: left"}
          = image_tag("http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(audit.user.login)}?d=identicon&s=25", :style => "float: left; border: 1px solid #777")
          .details{:style=>"margin-left: 10px; float: left"}
            #{audit.created_at.to_s(:short)}
            %br
            #{audit.user.login}
        .change{:style=>"margin-left: 150px"}
          %ul
            - audit.changes.each do |model_change|
              %li= "Changed #{model_change.datum} from #{model_change.old_value} to #{model_change.new_value}"
      .clear{:style=>"height: 20px"}
    .audit
      .author{:style=>"width: 150px; float: left"}
        = image_tag("http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@location.user.login)}?d=identicon&s=25", :style => "float: left; border: 1px solid #777")
        .details{:style=>"margin-left: 10px; float: left"}
          #{@location.created_at.to_s(:short)}
          %br
          #{@location.user.login}
      .change{:style=>"margin-left: 150px"}
        %ul
          %li Added to database
  %br
  %br