%p
- object.audits.each do |audit|
  .audit{:style=>"margin-left: 20px; margin-right: 40px"}
    .author{:style=>"width: 150px; float: left"}
      .details{:style=>"margin-left: 10px; float: left"}
        #{audit.created_at.to_s(:short)}
        %br
        #{audit.user.login}
    .change{:style=>"margin-left: 150px"}
      %ul
        - audit.model_changes.each do |model_change|
          %li= "Changed #{model_change.datum} from #{model_change.old_value} to #{model_change.new_value}"
  .clear{:style=>"height: 20px"}
.audit{:style=>"margin-left: 20px; margin-right: 40px; margin-bottom: 40px"}
  .author{:style=>"width: 150px; float: left"}
    .details{:style=>"margin-left: 10px; float: left"}
      #{object.created_at.to_s(:short)}
      %br
      #{object.user.login}
  .change{:style=>"margin-left: 150px"}
    %ul
      %li Added to database
