.information.portlet
  .portlet-header
    Information
  .portlet-content
    = form_for @location do |form|
      = feature_information_wrapper(:email, @location) do
        = form.label "Email"
        = form.text_field :email, :required => false, :input_html => { :class => "text" }
      = feature_information_wrapper(:telephone, @location) do
        = form.label "Telephone"
        = form.text_field :telephone, :required => false, :input_html => { :class => "text" }
      = feature_information_wrapper(:fax, @location) do
        = form.label "Fax"
        = form.text_field :fax, :required => false, :input_html => { :class => "text" }
      = feature_information_wrapper(:website, @location) do
        = form.label "Website"
        = form.text_field :website, :required => false, :input_html => { :class => "text" }
      = feature_information_wrapper(:postal_address, @location) do
        = form.label "Postal Address"
        = form.text_field :postal_address, :required => false, :input_html => { :class => "text" }
      = feature_information_wrapper(:geographical_address, @location) do
        = form.label "Geographical Address"
        = form.text_field :geographical_address, :required => false, :input_html => { :class => "text"}
      = feature_information_wrapper(:opening_hours, @location) do
        = form.label "Opening Hours"
        = form.text_field :opening_hours, :required => false, :input_html => { :class => "text" }
      = feature_information_wrapper(:user_rating, @location) do
        = form.label "User Rating"
        = form.text_field :user_rating, :required => false, :input_html => { :class => "text"}
      = feature_information_wrapper(:acronym, @location) do
        = form.label "Acronym"
        = form.text_field :acronym, :required => false, :input_html => { :class => "text"}
      = feature_information_wrapper(:miscellaneous, @location) do
        = form.label "Other"
        = form.text_field :miscellaneous, :label => "Other", :required => false, :input_html => { :class => "text"}
      = select_tag "Add Field", options_for_select(["Add field", "Email", "Telephone", "Fax", "Geographical Address", "Postal Address", "Opening Hours", "User Rating"]), :style => "width: 100px; float: left; margin-top: 5px"
      = form.submit "Update", :style=>"float: right; margin-top: 5px"
      .clear

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      var country = "#{@location.administrative_unit(0).try(:name)}";
      switch(country) {
        case "Côte d'Ivoire":
          jQuery.validator.addMethod("validPhoneNumber", function(value, element) {
            value = jQuery.trim(value);
            return value == "" || value.match(/^\+225 \d{2} \d{2} \d{2} \d{2}$/);
          }, "Not a valid Côte d'Ivoire phone number. It should be of the form +225 XX XX XX XX");
          break;
        case "Bénin":
          jQuery.validator.addMethod("validPhoneNumber", function(value, element) {
            value = jQuery.trim(value);
            return value == "" || value.match(/^\+229 \d{2} \d{2} \d{2} \d{2}$/);
          }, "Not a valid Bénin phone number. It should be of the form +229 XX XX XX XX");
          break;
        case "Sénégal":
          jQuery.validator.addMethod("validPhoneNumber", function(value, element) {
            value = jQuery.trim(value);
            return value == "" || value.match(/^\+221 \d{2} \d{3} \d{4}$/);
          }, "Not a valid Sénégal phone number. It should be of the form +221 XX XXX XXXX");
          break;
        case "Togo":
          jQuery.validator.addMethod("validPhoneNumber", function(value, element) {
            value = jQuery.trim(value);
            return value == "" || value.match(/^\+228 \d{3} \d{4}$/);
          }, "Not a valid Togo phone number. It should be of the form +228 XXX XXXX");
          break;
        case "Guinée":
          jQuery.validator.addMethod("validPhoneNumber", function(value, element) {
            value = jQuery.trim(value);
            return value == "" || value.match(/^\+224 \d{2} \d{2} \d{2}$/);
          }, "Not a valid Guinée phone number. It should be of the form +224 XX XX XX");
          break;
        default:
          jQuery.validator.addMethod("validPhoneNumber", function(value, element) {
            return true;
          }, "");
      }

      $("form.location").validate({
        debug: true,
        rules: {
          "location[email]": {
            email: true
          },
          "location[telephone]": {
            validPhoneNumber: true
          },
          "location[website]": {
            url: true
          }
        }
      });
    });

:css
  label.error {color: red ! important}