#feature-tab
  .right-panel
    %table
      %tr
        %th Country
        %th Region
        %th City
        %th Commune
      %tr
        %td= object.try(:country).try(:name) || "Unknown"
        %td= object.try(:region).try(:name) || "Unknown"
        %td= object.try(:city).try(:name) || "Unknown"
        %td= object.try(:commune).try(:name) || "Unknown"
    .map-instructions
      Drag the blue square to update the coordinates
    #map
    #actions{:style=>"margin-top: 15px"}
      Show surrounding landmarks:
      <input type="radio" name="show_landmarks" value="1"/> Yes
      <input type="radio" name="show_landmarks" checked value="0" /> No
  %div{:style=>"width: 400px; float: left"}
    = form.input :name, :input_html => {:class => "text"}, :required => false
    = form.input :long_name, :input_html => {:class => "text"}
    - if object.persisted? && current_user.may_change_status_of_location?(object, nil)
      = form.input :status, :collection => workflow_actions(current_user, object), :include_blank => false
    = render :partial => "locations/form/tags", :locals => {:location => object}
    = render :partial => "locations/form/comments", :locals => {:location => object}

:css
  .ajax-action {margin-top: 3px}
  .ajax-action img {position: relative; top: 3px}
  .right-panel {margin-top: 7px; width: 450px; float: right}
  #map {background-color: #6699cc; border: 1px solid #666666; margin-top: 7px; width: 450px; height: 330px}

