#feature-tab
  .right-panel
    %table
      %tr
        - [0,1,2,3].each do |level|
          %th= object.administrative_unit(level).classification
      %tr
        - [0,1,2,3].each do |level|
          %td= object.administrative_unit(level).name
    .map-instructions
      Drag the blue square to update the coordinates
    #map
    #actions
      Show surrounding landmarks:
      <input type="radio" name="show_landmarks" value="1"/> Yes
      <input type="radio" name="show_landmarks" checked value="0" /> No
  .general_info
    = form.input :name, :input_html => {:class => "text"}, :required => false
    = form.input :long_name, :input_html => {:class => "text"}
    - if object.persisted? && current_user.may_change_status_of_location?(object, nil)
      = form.input :status, :collection => workflow_actions(current_user, object), :include_blank => false
    = render :partial => "locations/form/tags", :locals => {:location => object}
    %li.tags
      %label
        Labels
    = render :partial => "locations/form/comments", :locals => {:location => object}

:css
  #actions {margin-top: 15px}
  .general_info {width: 400px; float: left}
  .ajax-action {margin-top: 3px}
  .ajax-action img {position: relative; top: 3px}
  .right-panel {margin-top: 7px; width: 450px; float: right}
  #map {background-color: #6699cc; border: 1px solid #666666; margin-top: 7px; width: 450px; height: 330px}

