#history-tab
  - if object.persisted?
    - if object.labels.count > 0
      - object.labels.each do |label|
        - if label.classification == 'SYSTEM' && label.key == 'IMPORTED FROM'
          %b Imported from
          = link_to Import.find(label.value).input.original_filename, Import.find(label.value).input.url
    %p
      %b Added by
      = object.user.login
      %b on
      = object.created_at
    %p
    - object.audits.each do |audit|
      %p
        %b
          Changes on #{audit.created_at} by #{audit.user.login}
      %ul
        - audit.model_changes.each do |model_change|
          %li= "Changed #{model_change.datum} from #{model_change.old_value} to #{model_change.new_value}"
