#information-tab
  = form.input :email, :required => false, :input_html => { :class => "text" }
  = form.input :telephone, :required => false, :input_html => { :class => "text" }
  = form.input :fax, :required => false, :input_html => { :class => "text" }
  = form.input :website, :required => false, :input_html => { :class => "text" }
  = form.input :postal_address, :required => false, :input_html => { :class => "text" }
  = form.input :opening_hours, :required => false, :input_html => { :class => "text" }
  = form.input :user_rating, :required => false, :input_html => { :class => "text"}