%div.block_content
  = semantic_form_for object, :url => "/account", :as => :user, :html => { :enctype => "multipart/form-data"} do |form|
    = form.error_messages
    = form.input :email, :input_html => { :class => "text" }
    = form.input :password, :input_html => { :class => "text" }
    = form.input :password_confirmation, :input_html => { :class => "text" }
    = form.input :skype_alias, :input_html => { :class => "text" }
    = form.input :home_country, :as => :string, :input_html => { :class => "text" }
    = form.input :mobile_number, :input_html => { :class => "text" }
    = form.commit_button :button_html => { :class => "submit long" }
