.block
  .block_head
    %h2
      =t :profile
      = link_to t('edit'), edit_account_path
  .block_content
    #portlets
      .portlet
        .portlet-header
          =t ('listing')
        .portlet-content
          %ul
            %li
              %b 
                =t ('username')
              = object.login
            %li
              %b 
                =t ('email')
              = object.email
            %li
              %b 
                =t ('skype_alias')
              = object.skype_alias
            %li
              %b 
                =t ('home_country')
              = object.home_country
            %li
              %b 
                =t ('mobile_number')
              = object.mobile_number
            %li
              %b
                =t ('language')
              = object.locale

