.block
  .block_head
    %h2
      Profile
      = link_to "Edit", edit_account_path
  .block_content
    #portlets
      .portlet
        .portlet-header
          Listing
        .portlet-content
          %ul
            %li
              %b Username:
              = object.login
            %li
              %b Email:
              = object.email
            %li
              %b Skype Alias:
              = object.skype_alias
            %li
              %b Home Country:
              = object.home_country
            %li
              %b Mobile Number:
              = object.mobile_number

