= content_for :title, "Collectors"

.block
  .block_head
    %h2 Collectors
    %ul
      %li.nobg.back Download As excel
      %li.nobg.back= link_to "Back", :back
  .block_content
    %table.index
      %thead
        %tr
          %th Collector
          %th.total_POI Total 
          %th.new New
          %th.audited Audited
          %th.invalid Invalid
          %th.corrected Corrected
          %th.checked Checked
          %th.uncategorized
            %i Uncategorized
      %tbody
        - @counters.each do |counter|
          %tr
            %td= counter.user.login
            %td.total_POI= linked_figure(counter.total_locations, "/locations?s[added_by]=#{counter.user.id}")
            %td.new= linked_figure(counter.new_locations, "/locations?s[added_by]=#{counter.user.id}&s[status]=new")
            %td.audited= linked_figure(counter.audited_locations, "/locations?s[added_by]=#{counter.user.id}&s[status]=audited")
            %td.invalid= linked_figure(counter.invalid_locations, "/locations?s[added_by]=#{counter.user.id}&s[status]=invalid")
            %td.corrected= linked_figure(counter.corrected_locations, "/locations?s[added_by]=#{counter.user.id}&s[status]=corrected")
            %td.checked= linked_figure(counter.field_checked_locations, "/locations?s[added_by]=#{counter.user.id}&s[status]=field+checked")
            %td{:style=>"text-align: right"}
              %i= linked_figure(counter.total_locations - counter.categorized_locations, "/locations?s[added_by]=#{counter.user.id}&s[category_missing]=1")
      %tfoot
        %tr
          %td
          %td.total_POI
            = linked_figure(@counters.inject(0) {|total, city| total + city.total_locations.to_i }, nil)
          %td.new
            = linked_figure(@counters.inject(0) {|total, city| total + city.new_locations.to_i }, nil)
          %td.invalid
            = linked_figure(@counters.inject(0) {|total, city| total + city.invalid_locations.to_i }, nil)
          %td.corrected
            = linked_figure(@counters.inject(0) {|total, city| total + city.corrected_locations.to_i }, nil)
          %td.audited
            = linked_figure(@counters.inject(0) {|total, city| total + city.audited_locations.to_i }, nil)
          %td.checked
            = linked_figure(@counters.inject(0) {|total, city| total + city.field_checked_locations.to_i }, nil)
          %td.uncategorized
            = linked_figure(@counters.inject(0) {|total, counter| total + (counter.total_locations.to_i - counter.categorized_locations.to_i) }, nil)

    %br
