.block
  .block_head
    %h2 Cities
    %ul
      %li.nobg.back= link_to "Back", :back
  .block_content
    - unless flash[:info].nil?
      = show_informational_message(flash[:info])
    %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
      %thead
        %tr
          %th City
          %th Region
          %th Country
          %th.total_POI Total
          %th.pending New
          %th.invalid Invalid
          %th.pending Corrected
          %th.audited Audited
          %th.field_checked Field Checked
          %th.categorized Uncategorized
          - if @can_edit
            %th
      %tbody
        - @cities.each do |city|
          %tr
            %td= link_to(city.name, locations_url)
            %td= city.region
            %td= city.country
            = render :partial => "/areas/list_stats", :locals => {:area => city}
            - if @can_edit
              %td.view= link_to("Edit", edit_city_path(city))
        %tr
          %td
          %td
          %td
          %td.total_POI
            %b= @cities.inject(0) {|total, city| total + city.total_locations.to_i }
          %td.pending
            %b= @cities.inject(0) {|total, city| total + city.new_locations.to_i }
          %td.invalid
            %b= @cities.inject(0) {|total, city| total + city.invalid_locations.to_i }
          %td.audited
            %b= @cities.inject(0) {|total, city| total + city.corrected_locations.to_i }
          %td.audited
            %b= @cities.inject(0) {|total, city| total + city.audited_locations.to_i }
          %td.field_checked
            %b= @cities.inject(0) {|total, city| total + city.field_checked_locations.to_i }
          %td.categorized
            %b
              %i= @cities.inject(0) {|total, city| total + city.uncategorized_locations.to_i }
          - if @can_edit
            %td.view
    %br
