.block
  .block_head
    %h2 Level 2 Boundaries - Cities
    %ul
      %li.nobg.back= link_to "Back", :back
  .block_content
    - unless flash[:info].nil?
      = show_informational_message(flash[:info])
    %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
      %thead
        %tr
          %th City
          %th Region
          %th Country
          %th.total_POI Total
          %th.pending New
          %th.invalid Invalid
          %th.pending Corrected
          %th.audited Audited
          %th.checked Field Checked
          %th.categorized Uncategorized
      %tfoot
        %tr
          %td
          %td
          %td
          %td.total_POI
            = linked_figure(@cities.inject(0) {|total, city| total + city.total_locations.to_i }, nil)
          %td.new
            = linked_figure(@cities.inject(0) {|total, city| total + city.new_locations.to_i }, nil)
          %td.invalid
            = linked_figure(@cities.inject(0) {|total, city| total + city.invalid_locations.to_i }, nil)
          %td.corrected
            = linked_figure(@cities.inject(0) {|total, city| total + city.corrected_locations.to_i }, nil)
          %td.audited
            = linked_figure(@cities.inject(0) {|total, city| total + city.audited_locations.to_i }, nil)
          %td.checked
            = linked_figure(@cities.inject(0) {|total, city| total + city.field_checked_locations.to_i }, nil)
          %td.uncategorized
            = linked_figure(@cities.inject(0) {|total, city| total + city.uncategorized_locations.to_i }, nil)
      %tbody
        - @cities.each do |city|
          %tr
            %td= city.name
            %td= city.region
            %td= city.country
            = render :partial => "/areas/list_stats", :locals => {:area => city, :prefix => "/locations"}
