= semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |form|
  = form.input :french, :input_html => { :class => "text" }
  = form.input :english, :input_html => { :class => "text" }
  = form.input :code, :label => "Garmin Code", :required => true, :input_html => { :class => "text" }
  = form.input :level, :as => :select, :collection => [0, 1, 2, 3, 4]
  = form.input :end_level, :as => :select, :collection => [0, 1, 2, 3, 4]
  = form.input :icon, :as => :hidden
  = form.input :website
  - if object.persisted? && object.icon
    %label
      Icon
    = image_tag "/images/" + object.icon
  - if object.persisted? && object.icon
    %span{:style=>"position: relative; top: -15px; left: 5px"}
      = link_to "Change Icon", change_icon_category_path(object.id), :class => "open_facebox"
  = form.commit_button :button_html => { :class => "submit long" }
