.block_head
  %h2{:style=>"color: #434343; font-size: 13px"}
    %span.location_name
      = @category.french
.block_content
  = form_for object do |form|
    .editor-content
      %ul#tabs.tabs
        %li.active= link_to "Details", "#details"
        %li= link_to "Icon", "#icon"
        %br
      #details.tab
        .tab-contents
          .editor
            %label French
            = form.text_field :french
            %label English
            = form.text_field :english
            %label Code
            = form.text_field :code, :required => true
            .clear{style: "margin-top: 3px"}
            %label{style: "width: 110px; display: inline; float: left"} Make Hidden
            = form.check_box :is_hidden, :label => " Is Hidden", :style => "float: left; top: 7px; position: relative"
            .clear{style: "margin-top: 3px"}
            %label{style: "width: 110px; display: inline; float: left"} Make Landmark
            = form.check_box :is_landmark, :label => " Is Landmark", :style => "float: left; top: 7px; position: relative"
          .clear
          .warning
          .actions
            %button.blue-button
              %div
                Accept
      #icon.tab
        .tab-contents
          %label{:style=>"margin-top: 13px"}
            Current Icon
          = image_tag(object.icon.url, :style => "height: 37px; width: 32px")
        .clear
      .clear
