.block_content
  = semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |form|
    #portlets
      #left.column
        .portlet
          .portlet-header
            =t('properties')
          .portlet-content.properties
            = form.input :french, :label => t('french')
            = form.input :english, :label => t('english')
            = form.input :code, :required => true, :label => t('code')
            = form.input :is_hidden, :label => t('is_hidden')
            = form.input :is_landmark, :label => t('is_landmark')
      .column
        .portlet
          .portlet-header
            =t('icon')
          .portlet-content
            %p
              =t('icon_usage_mess1')
              = link_to "http://mapicons.nicolasmollet.com", "http://mapicons.nicolasmollet.com"
              =t('icon_usage_mess2')
            = form.input :icon, :as => :file, :label => t('upload_icon')
            %label{:style=>"margin-top: 13px"}
              =t('cur_icon')
            = image_tag(object.icon.url)
        .clear
        %div.form_commit
          = form.commit_button