#portlets
  .portlet
    .portlet-header
      Listing
    .portlet-content
      = semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |form|
        = form.input :french
        = form.input :english
        = form.input :code, :required => true
        = form.input :icon
        %span{:style=>"font-style: italic; font-size: 10px; width: 420px; display: block"}
          Please copy a link to an image from the site mapicons.nicolasmollet.com or a link to an existing icon in the GeoCMS
        - if object.persisted? && object.icon
          %label Current Icon
          = image_tag "/assets/images/" + object.icon
        = form.commit_button
