= content_for :title, t('categories')

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/categories/index/init", :debug => Rails.env.development?

.block
  .block_head
    %h2
      =t('categories')
      - if current_user.may_create_category?
        = link_to t('new_category'), new_category_path
      = link_to t('categories_collection'), "#"
  .block_content
    #portlets
      .bulk-actions
        %select
          %option
            =t('bulk_action')
          - if @categories && @categories.any? && current_user.may_destroy_category?(@categories.first)
            %option
              =t('delete')
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      .portlet
        .portlet-header
          =t('listing')
        .portlet-content.nopadding
          %table.main
            %tbody
              %tr
                %th.selector
                  %input{:type=>"checkbox"}
                %th 
                  =t('name')
                %th.total_POI 
                  =t('total')
                %th.new 
                  =t('_new')
                %th.corrected 
                  =t('corrected')
                %th.invalid 
                  =t('_invalid')
                %th.audited 
                  =t('audited')
                %th.checked 
                  =t('checked')
                - for category in @categories
                  %tr
                    %td
                      %input{:type=>"checkbox"}
                    %td
                      - if category.icon
                        = image_tag category.icon.url, :style=>"float: left; margin-right: 10px"
                      - if current_user.may_update_category? @categories.first
                        = link_to category.french, edit_category_path(category, page: params[:page], per_page: params[:per_page])
                      - else
                        = category.french
                      %br
                      %div{:style=>"font-style: italic; padding-top: 3px"}=category.english
                    %td.total_POI= linked_figure(category.total_locations, "/locations?s[category_id]=#{category.id}")
                    %td.new= linked_figure(category.new_locations, "/locations?s[category_id]=#{category.id}&s[status]=new")
                    %td.corrected= linked_figure(category.corrected_locations, "/locations?s[category_id]=#{category.id}&s[status]=corrected")
                    %td.invalid= linked_figure(category.invalid_locations, "/locations?s[category_id]=#{category.id}&s[status]=invalid")
                    %td.audited= linked_figure(category.audited_locations, "/locations?s[category_id]=#{category.id}&s[status]=audited")
                    %td.checked= linked_figure(category.field_checked_locations, "/locations?s[category_id]=#{category.id}&s[status]=field+checked")
          = render :partial => "shared/paging", :locals => {:collection => @categories}

