= content_for :title, "Categories"

.block
  .block_head
    %h2 Categories
    %ul
      %li.nobg.back
        = link_to switch_language(@language), categories_path(:language => switch_language(@language))
      %li.nobg.back
        = link_to "Export", export_categories_path
      - if current_user.may_create_category?
        %li.nobg.back
          = link_to "New Category", new_category_path
      %li.nobg.back
        = link_to "Back", :back
  .block_content
    %table.list
      %tbody
        %tr
          %th Name
          %th Icon
          %th.total_POI Total
          %th.new New
          %th.corrected Corrected
          %th.invalid Invalid
          %th.audited Audited
          %th.checked Checked
          - if @categories && @categories.size > 0
            - if current_user.may_update_category? @categories.first
              %th &nbsp;
            - if current_user.may_destroy_category? @categories.first
              %th &nbsp;
        - if @categories && @categories.size > 0
          - @categories.each do |category|
            %tr
              = render :partial => @language, :locals => {:category => category}
              %td{:style=>"width: 30px"}
                - if category.icon 
                  = image_tag "/images/" + category.icon
              %td.total_POI= linked_figure(category.total_locations, "/locations?s[category_id]=#{category.id}")
              %td.new= linked_figure(category.new_locations, "/locations?s[category_id]=#{category.id}&s[status]=new")
              %td.corrected= linked_figure(category.corrected_locations, "/locations?s[category_id]=#{category.id}&s[status]=corrected")
              %td.invalid= linked_figure(category.invalid_locations, "/locations?s[category_id]=#{category.id}&s[status]=invalid")
              %td.audited= linked_figure(category.audited_locations, "/locations?s[category_id]=#{category.id}&s[status]=audited")
              %td.checked= linked_figure(category.field_checked_locations, "/locations?s[category_id]=#{category.id}&s[status]=field+checked")
              - if @categories && @categories.size > 0
                - if current_user.may_update_category? @categories.first
                  %td.edit{:style=>"width: 20px"}
                    = link_to "Edit", edit_category_path(category)
                - if current_user.may_destroy_category? @categories.first
                  %td.delete{:style=>"width: 20px"}
                    = link_to "Delete", category, :confirm => 'Are you sure?', :method => :delete
    %br
      %div
        = render :partial => "shared/paging", :locals => {:collection => @categories}
    %div.clear
    %span{:style=>"float: right; margin-bottom: 20px"}
      = page_entries_info @categories



