= content_for :title, "Categories"

- content_for :search do
  = render :partial => "action_bar"

.block
  .block_content
    #portlets
      - if @categories && @categories.any? && current_user.may_destroy_category?(@categories.first)
        .toolbar{:style=>"margin-bottom: 10px; float: right"}
          %button.gray-button
            %div Delete
      .clear
      .portlet
        .portlet-content.nopadding
          %table.main
            %tbody
              %tr
                %th.selector
                  %input{:type=>"checkbox"}
                %th Name
                %th.total_POI Total
                %th.new New
                %th.corrected Corrected
                %th.invalid Invalid
                %th.audited Audited
                %th.checked Checked
                - for category in @categories
                  %tr
                    %td
                      %input{:type=>"checkbox"}
                    %td
                      - if category.icon
                        = image_tag category.icon.url, :style=>"float: left; margin-right: 10px; height: 37px; width: 32px"
                      - if current_user.may_update_category? @categories.first
                        = link_to category.french, edit_category_path(category, page: params[:page], per_page: params[:per_page])
                      - else
                        = category.french
                      %br
                      %div{:style=>"font-style: italic; padding-top: 3px"}=category.english
                    %td.total_POI= linked_figure(category.total_locations, "/locations?s[category_id]=#{category.id}")
                    %td.new= linked_figure(category.new_locations, "/locations?s[category_id]=#{category.id}&s[status]=new")
                    %td.corrected= linked_figure(category.corrected_locations, "/locations?s[category_id]=#{category.id}&s[status]=corrected")
                    %td.invalid= linked_figure(category.invalid_locations, "/locations?s[category_id]=#{category.id}&s[status]=invalid")
                    %td.audited= linked_figure(category.audited_locations, "/locations?s[category_id]=#{category.id}&s[status]=audited")
                    %td.checked= linked_figure(category.field_checked_locations, "/locations?s[category_id]=#{category.id}&s[status]=field+checked")
          = render :partial => "shared/paging", :locals => {:collection => @categories}

:javascript
  $(function() {
    new GeoCMS.Views.CategoryEditor({el: "table.main"});
  });