!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title GeoCMS - Login
    = stylesheet_link_tag "/assets/application", :debug => Rails.env.development?
  %body
    #hld
      .wrapper{:style=>"padding-top: 150px"}
        .block.small.center.login{:style=>"background-color: white; width: 570px; background-image: none; border-top: 1px solid #ccc; margin-top: 0"}
          = form_for @user_session do |f|
            %div{:style=>"float: left; width: 100px; height: 45px"}
              = image_tag "logo.png", :style=>"margin-left: 10px; margin-top: 3px"
            %div{:style=>"float: left; width: 455px"}
              - if f.object.errors.any?
                %ul
                  - f.object.errors.full_messages.each do |msg|
                    %li.error_message= msg
              %div{:style=>"float: left; width: 200px"}
                = f.label :login
                = f.text_field :login, :class => "text", :style=>"width: 170px"
              %div{:style=>"float: left; width: 200px"}
                = f.label :password
                = f.password_field :password, :class => "text", :style=>"width: 170px"
              = f.submit "Login", :class => "submit", :style=>"float: left; margin-top: 17px"
          .clear
          %br
