<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>GeoCMS - Login</title>
  <%= stylesheet_link_tag 'admin/style.css' %>
</head>
<body>
<div id="hld">
  <div class="wrapper">		
    <div class="block small center login">
      <div class="block_head">
        <h2>Login</h2>
      </div>
      <div class="block_content">


        <%= form_for @user_session do |f| %>
            <% if f.object.errors.any? %>
                <ul>
                <% f.object.errors.full_messages.each do |msg| %>

       <li class="error_message"><%= msg %></li>
     <% end %>
     </ul>
            <% end %>

      <%= f.label :login  %><br />
      <%= f.text_field :login, :class => "text" %><br />
      <br />
      <%= f.label :password %><br />
      <%= f.password_field :password, :class => "text" %><br />
      <br />
      <%= f.submit "Login", :class => "submit" %>
           <br />
    <% end %>
        <br/>
      </div>
    </div>
  </div>

</div>

</body>
</html>
