#search-bar
  .wrapper
    .clear
    %form.search{:method=>"get"}
      %h1
        Locations
      %input{:type=>"text", :id=>"query", :name=>"s[name]"}
      .aoq-wrapper
        .aoq
      %button.search-button
        %div
          = image_tag "search_white.png"
    %form.new-location{:method=>"get", :action => "/locations/new"}
      %button.red-button
        %div
          New location
    #advanced
      %a.close-button
      = form_for :s, :method => "get" do |f|
        .simple-search
          %label
            Name
          = f.text_field :name
          %label
            Street Name
          = f.text_field :street_name
          %label
            Country
          = select(:s, :level_id, [""] + @boundaries, :multiple => "true")
          %label
            Categories
          = select(:s, :category_id, [""] + @categories)
          %label
            Status
          = select(:s, :status, [""] + @statuses)
        .complex-search{:style=>"display: none"}
          %label
            Added By
          = select(:s, :added_by, [""] + @users)
          %label
            Added After
          = f.text_field :added_after
          %label
            Added Before
          = f.text_field :added_before
          %label
            Modified By
          = select(:s, :modified_by, [""] + @users)
          %label
            Modified After
          = f.text_field :modified_after
          %label
            Modified Before
          = f.text_field :modified_before
        %button.search-button{:style=>"margin-top: 15px; margin-left: -3px"}
          %div
            = image_tag "search_white.png"
        = link_to "More Search Options", "#", :style => "float: right; margin-top: 18px", :class => "more-search"
      .clear

:css
  #search-bar h1 {float: left; color: #434343; margin-left: 20px; width: 140px}
  #search-bar .aoq-wrapper {display: inline-block; position: relative; left: -22px}
  #search-bar form.new-location {padding-top: 17px; display: inline; width: 150px}
  #search-bar form.search {padding-top: 17px; width: 725px; display: inline}
  #search-bar #advanced {width: 425px; border: 1px solid #ccc; position: absolute; top: 41px; left: 200px; background-color: white; z-index: 99999999999999; display: none}
  #search-bar #advanced form {margin: 20px}
  #search-bar #advanced .close-button {   background-image: url("//ssl.gstatic.com/ui/v1/icons/common/x_8px.png");
    cursor: pointer; height: 21px; opacity: 0.4;         padding: 2px;         position: absolute;       right: 0;    top: 4px;     width: 21px}
  #search-bar #advanced form input {border: 1px solid #ccc}
  #search-bar #advanced form input {width: 375px; padding: 2px}
  #search-bar #advanced form select {width: 381px}
  #search-bar #advanced label {margin-top: 5px; display: block; margin-bottom: 3px}