.portlet.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  .portlet-header.ui-widget-header.ui-corner-top
    Feature
  .portlet-content
    = form.input :name, :input_html => {:class => "text"}, :required => false
    = form.input :long_name, :input_html => {:class => "text"}
    = form.input :city
    - if object.persisted? && current_user.may_change_status_of_location?(object, nil)
      = form.input :status, :collection => workflow_actions(current_user, object), :include_blank => false

- if object.persisted?
  .portlet.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
    .portlet-header.ui-widget-header.ui-corner-top
      Categories
    .portlet-content
      = render :partial => "locations/form/tags", :locals => {:location => object}

- if object.persisted?
  .portlet.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
    .portlet-header.ui-widget-header.ui-corner-top
      Labels
    .portlet-content
      %li.tags
        %label




