= semantic_form_for location do |form|
  #edit-location-tabs
    .block_sub
      %ul
        %li= link_to "Feature", "#feature-tab"
        %li= link_to "Information", "#information-tab"
        %li= link_to "Coordinates", "#classification-tab"
        %li= link_to "History", "#history-tab"  
    .block_content
      = render :partial => "locations/form/feature", :locals => {:form => form, :form_data => form_data}
      = render :partial => "locations/form/information", :locals => {:form => form}
      = render :partial => "locations/form/classification", :locals => {:form => form}
      = render :partial => "locations/form/history", :locals => {:form => form, :location => location}
      .clear

