#pagination-wrapper
  - unless collection.nil? || collection.empty?
    = select_tag "pages", options_for_select([ "10", "20", "50", "100", "1000", "5000"], page_size)
    = will_paginate collection, :params => @params, :outer_window => 1, :inner_window => 1, :class => "paggination"
    %span#pagination-counter
      = page_entries_info(collection)
    %a.section#view_3{:href=>"#"}
      = image_tag("Helveticons-147.gif", :style=>"position: relative; top: 8px; margin-right: 3px")
      Location
    %a.section#view_2{:href=>"#"}
      = image_tag("Helveticons-198.gif", :style=>"position: relative; top: 8px; margin-right: 3px")
      Naming
    %a.section#view_1.selected{:href=>"#"}
      = image_tag("Helveticons-411.gif", :style=>"position: relative; top: 8px; margin-right: 3px")
      General
.clear

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      var changeView = function(el, start, end) {
        var headers = $("table th");
        headers.slice(2).hide();
        headers.slice(start, end).show();
        $("table tbody tr").each(function(i, item) {
          var cells = $(item).find("td");
          cells.slice(2).hide();
          cells.slice(start, end).show();
        });
        return false;
      }

      $("#view_1").click(function() {
        return changeView($(this), 2, 8);
      });

      $("#view_2").click(function() {
        return changeView($(this), 8, 11);
      });

      $("#view_3").click(function() {
        return changeView($(this), 11, 17);
      });

      $("#pages").change(function() {
        window.location = $.param.querystring(window.location.href, {per_page: $(this).val(), page: 1});
      });
    });

