.block
  .block_head
    %h2 Change Search Criteria
  .block_content
    = semantic_form_for :s, :url => "/locations/change_search" do |form|
      #search-parameters
        .filter_group
          %h2 Categorization
          = form.input :searchable_name_like, :required => false, :label => "Location Name"
          = form.input :category_id_eq, :as => :select, :collection => @all_categories, :required => false, :label => "Category"
          %h2 Missing Attributes
          = form.input :missing_category, :as => :boolean, :required => false, :label => " Missing Category"
        .filter_group
          %h2 Geography
          = form.input :commune_id_eq, :as => :select, :collection => @all_communes, :required => false, :label => "Commune"
          = form.input :city_id_eq, :as => :select, :collection => @all_cities, :required => false, :label => "City"
          = form.input :region_id_eq, :as => :select, :collection => @all_regions, :required => false, :label => "Region"
          = form.input :country_id_eq, :as => :select, :collection => @all_countries, :required => false, :label => "Country"
        .filter_group
          %h2 Workflow
          = form.input :added_on_before, :required => false, :label => "Added Before", :input_html => { :class => 'date_input' }
          = form.input :added_on_after, :required => false, :label => "Added After", :input_html => { :class => 'date_input' }
          = form.input :status, :as => :select, :collection => ["NEW", "AUDITED", "INVALID", "CORRECTED", "FIELD CHECKED"], :required => false
        .filter_group
          %h2 Auditing
          = form.input :added_by, :as => :select, :collection => @all_users, :label => "Added By", :required => false
          = form.input :confirmed_by, :as => :select, :label => "Field Checked By", :collection => @all_users, :required => false
          = form.input :audited_by, :as => :select, :collection => @all_users, :required => false
        .clear
        %input{:class=>"button long", :style=>"float: right; margin-bottom: 20px", :type=>"submit", :value=>"Search"}

  :css
    input {width: 170px ! important}
    select {width: 182px ! important}
    div.filter_group {float: left; width: 220px}
  :javascript
    $(document).ready(function() {
      $($.date_input.initialize);
    });
