= content_for :title, "Edit Selected Locations"
.block
  .block_head
    %h2 Update Locations
  .block_content
    %table.layout
      %tr
        %td Choose a status for all the locations:
        %td= select_tag "status_switcher", options_for_select(workflow_actions(current_user, nil).insert(0, "")), :class => "styled_select"
    = form_for "locations", :url => "/locations", :html=>{:method=>:put} do |form|
      %table.list.updates
        %thead
          %tr
            %th
              %b Name
            %th
              %b Status
            %th
              %b Tags
            %th 
              %b Comments        
        %tbody 
        - @locations.each_with_index do |location, i|
          %tr{"data-id"=>location.id}
            %td= form.text_field "[#{i}][name]", :value => location.name
            %td.status
              =select_tag "locations[#{i}][status]", options_for_select(workflow_actions(current_user, location), location.status)
              =form.hidden_field "[#{i}][id]", :value => location.id
            %td
              = link_to "(+)", new_location_tag_url(location), :rel => "facebox"
              %span.list{:class=>"tags_for_#{location.id}"}
                = render :partial => "tags/collection", :locals => {:items => location.tags.map {|c| {:name => c.category.french, :delete_link => location_tag_url(c.location_id, c.id)}}}
            %td 
              = link_to "(+)", new_location_comment_url(location), :rel => "facebox"
              = link_to location.comments.count, "/locations/#{location.id}/comments?layout=facebox", :rel => "facebox", :id => "comments_for_#{location.id}" 

      %table.layout{:style=>"width: 100%"}
        %tr
          %td= select_tag "category_switcher", options_for_select(@categories), :class => "styled_select"
          %td{:style=>"width: 60px"}
            = submit_tag "Add Tag", :class => "button"  
          %td{:style=>"width: 60px"}
            = submit_tag "Remove Tags", :class => "button mid"
          %td{:style=>"width: 200px; text-align: right"}
            = submit_tag "Update All", :class => "button" 

:css
  input {padding: 5px}
  .list.updates {width: 100%}
  #status_switcher {width: 650px}
  .change {margin-right: 105px; margin-left: 15px}
  .change select {float: right}
  td.category select {width: 300px}
  td.status select {width: 180px}

:javascript
  $(document).ready(function() {

    $("#status_switcher").change(function() {
      $("td.status select").val($(this).val());
    });

    $("#tag_update").click(function() {
      var new_tag = $("#category_switcher").val();
      locations = jQuery.map($(".list.updates tbody tr"), function(item, i) {
        console.debug($(item));
        return {id: $(item).data("id"), tag: new_tag};
      });
      $.ajax({
        url: "/locations",
        type: "POST",
        data: {_method:"PUT", locations: locations},
        success: function() {
          window.location = "/locations/edit";
        }
      }); 
    });
      
    var loadComments = function(evt, location_id) {
      var old_count = parseInt($("#comments_for_" + location_id).html());
      var new_count = old_count + 1;
      $("#comments_for_" + location_id).text(new_count);  
    };

    var loadTags = function(evt, location_id) {
      $(".tags_for_" + location_id).load("/locations/" + location_id + "/tags");
    };

    $(document).bind("load.location.comments", loadComments);

    $(document).bind("load.location.tags", loadTags);       
  });

  
