= content_for :title, "Edit Selected Locations"
.block
  .block_head
    %h2 Update Locations
  .block_content
    %table.layout
      %tr
        %td Choose a status for all the locations:
        %td= select_tag "status_switcher", options_for_select(workflow_actions(current_user, nil).insert(0, "")), :class => "styled_select"
    = form_for "locations", :url => "/locations", :html=>{:method=>:put} do |form|
      %table.list.updates
        %thead
          %tr
            %th
              %b Name
            %th
              %b Long Name
            %th
              %b Status
            %th
              %b Categories
            %th 
              %b Comments        
        %tbody 
        - @locations.each_with_index do |location, i|
          %tr{"data-id"=>location.id}
            %td.name= form.text_field "[#{i}][name]", :value => location.name
            %td.long_name= form.text_field "[#{i}][long_name]", :value => location.long_name
            %td.status
              =select_tag "locations[#{i}][status]", options_for_select(workflow_actions(current_user, location), location.status)
              =form.hidden_field "[#{i}][id]", :value => location.id
            %td.tags              
              %span.list{:class=>"tags_for_#{location.id}"}
                = render :partial => "tags/collection", :locals => {:items => location.tags.map {|c| {:name => c.category.french, :delete_link => location_tag_url(c.location_id, c.id)}}}
              = link_to "(+)", new_location_tag_url(location), :rel => "facebox"
            %td 
              = link_to "(+)", new_location_comment_url(location), :rel => "facebox"
              = link_to location.comments.count, "/locations/#{location.id}/comments?layout=facebox", :rel => "facebox", :id => "comments_for_#{location.id}" 

      %table.layout{:style=>"width: 100%"}
        %tr
          %td= select_tag "category_switcher", options_for_select(@categories), :class => "styled_select"
          %td.add-tag-action{:style=>"width: 60px"}
            = submit_tag "Add Tag", :class => "button"
          %td.remove-tag-action{:style=>"width: 60px"}
            = submit_tag "Remove Tag", :class => "button mid"
          %td{:style=>"width: 153px; text-align: right"}
            = submit_tag "Update All", :class => "button mid" 

:css
  td.name input {width: 200px}
  td.tags .list span:first-child {font-style: italic}
  input {padding: 2px; font-size: 11px}
  .list.updates {width: 100%}
  #category_switcher {width: 476px}
  #status_switcher {width: 650px}
  .change {margin-right: 105px; margin-left: 15px}
  .change select {float: right}
  td.category select {width: 300px}
  td.status select {width: 110px; font-size: 11px}
  td.remove-tag-action * {position: relative; left: -20px}

:javascript
  $(document).ready(function() {

    $("#status_switcher").change(function() {
      $("td.status select").val($(this).val());
    });

    $("#add-tag-action input").click(function() {
      $("form").submit();
      return false;
    });

    $("#remove-tag-action input").click(function() {
      $("form").submit();
      return false;
    });
      
    var loadComments = function(evt, location_id) {
      var old_count = parseInt($("#comments_for_" + location_id).html());
      var new_count = old_count + 1;
      $("#comments_for_" + location_id).text(new_count);  
    };

    var loadTags = function(evt, location_id) {
      $(".tags_for_" + location_id).load("/locations/" + location_id + "/tags");
    };

    $(document).bind("load.location.comments", loadComments);

    $(document).bind("load.location.tags", loadTags);       
  });

  
