= content_for :title, "Edit Selected Locations"
.block
  .block_head
    %h2 Update Locations
    %ul
      %li.nobg= link_to "Add Category", "#/category/add"
      %li.nobg= link_to "Remove Category", "#/category/remove"
      %li.nobg= link_to "Change Status", "#/status/change"
    %span
      For selected locations only
  .block_content
    %table.layout
    = form_for "locations", :url => "/locations", :html=>{:method=>:put} do |form|
      %table.list.updates
        %thead
          %tr
            %th
              %input{:type=>"checkbox"}
            %th Name
            %th Long Name
            %th Status
            %th Categories
            %th Comments
        %tbody 
        - @locations.each_with_index do |location, i|
          %tr{"data-id"=>location.id}
            %td.selector
              %input{:type=>"checkbox"}
            %td.name= form.text_field "[#{i}][name]", :value => location.name
            %td.long_name= form.text_field "[#{i}][long_name]", :value => location.long_name
            %td.status
              =select_tag "locations[#{i}][status]", options_for_select(workflow_actions(current_user, location), location.status)
              =form.hidden_field "[#{i}][id]", :value => location.id
            %td.tags              
              %span.list
                = render :partial => "tags/collection", :locals => {:items => location.tags.map {|c| {:name => c.category.french, :delete_link => location_tag_url(c.location_id, c.id)}}}
            %td.comments
              = link_to location.comments.count, "#/comments/#{location.id}"

      %div{:style=>"text-align: right; margin-right: 15px; margin-bottom: 20px"}
        = submit_tag "Confirm Changes", :class => "button mid", :style => "position: relative; left: 20px"

  %script#category-widget{:type=>"text/html"}
    = select_tag("category_id", options_for_select(@categories), :class => "styled_select")
    %a.accept{:href=>"#"} Accept
    %a.cancel{:href=>"#"} Cancel

  %script#status-widget{:type=>"text/html"}
    = select_tag "status_switcher", options_for_select(workflow_actions(current_user, nil).insert(0, "")), :class => "styled_select"
    %a.accept{:href=>"#"} Accept
    %a.cancel{:href=>"#"} Cancel

:javascript
  (function($) {

    _.each(#{@comments_cache}, function(value) {
      Comment.add(new Comment(value));
    })

    Comment.bind("add", function(new_comment) {
      var counter = $('tr[data-id=' + new_comment.attr("location_id") + '] a').not("a.tag_delete");
      counter.text(parseInt(counter.text()) + 1);
    })

    var app = Sammy('.collection_edit', function() {

      this.use(Sammy.StatusWidget, "status-widget");
      this.use(Sammy.CategoryWidget, "category-widget");
      this.use(Sammy.MultiSelectorWidget, ".list.updates");
      this.use(Sammy.FaceboxWidget);

      this.get("#/", function() {
        this.closeFacebox();
      })

      this.get("#/comments/:location_id", function(context) {
        var location_id = context.params['location_id'];
        var comments = Comment.find_by_location_id(location_id).map(function() {
          return this.to_hash();
        });
        var output = JST['comment_widget']({comments: comments});
        var overlay = context.openFaceboxWidget({domElement: $(output)});
        overlay.append($("#comments-widget").html());
        overlay.find("a.accept").click(function() {
            var new_comment = "TESTING";
            $.ajax({
              type: 'POST',
              dataType: 'json',
              url: "/locations/" + location_id + "/comments",
              data: {"comment[comment]": new_comment},
              success: function(data) {
                new Comment(data).save();
                context.redirect("#/");
              }
            });
          });
      });

      this.get('#/category/add', function(context) {
        if (!context.hasSelection()) return this.showSelectionError("#");
        this.showCategoryWidget("Add", "add_tag", function(data) {
          $.each(data, function(index, item) {context.addTag(item)})
        }, context);
      });

      this.get('#/category/remove', function(context) {
        if (!context.hasSelection()) return this.showSelectionError("#");
        this.showCategoryWidget("Remove", "remove_tag", function(data) {
          $.each(data, function(index, item) {context.removeTag(item)})
        }, context);
      });

      this.get('#/status/change', function(context) {
        if (!context.hasSelection) return this.showSelectionError("#");
        this.showStatusWidget(context);
      });

    });

    $(function() {
      app.run('#/');
    });

  })(jQuery);


