= content_for :title, "Edit Selected Locations"

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/locations/collection_edit/init", :debug => Rails.env.development?

.block
  .block_head
    %h2 Update Locations
  .block_content
    #portlets
      .portlet.map
        .portlet-header
          Map
          %span
            = link_to "Save", "#"
            |
            = link_to "Cancel", "#"
        .portlet-content.nopadding
          #mappanel
      .clear
      .map-footer
        .contents
          %ul
          .clear
        .tab show
      .clear{:style=>"height: 10px"}
      = render :partial => "locations/portlets/collection/change_city"
      = render :partial => "locations/portlets/collection/add_category"
      = render :partial => "locations/portlets/collection/remove_category"
      = render :partial => "locations/portlets/collection/change_status"
      = render :partial => "locations/portlets/collection/add_comment"
      .bulk-actions
        %select
          %option Bulk Actions
          %option Add Category
          %option Remove Category
          %option Change Status
          %option Add Comment
          %option Change City
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      = form_for "locations", :url => "/locations", :html=>{:method=>:put} do |form|
        .portlet
          .portlet-header
            Details
          .portlet-content.nopadding
            %table.list.updates.main
              %thead
                %tr
                  %th
                    %input{:type=>"checkbox"}
                  %th Name
                  %th Long Name
                  %th Status
                  %th City
                  %th Categories
                  %th Comments
              %tbody
              - @locations.each_with_index do |location, i|
                %tr{:"data-id" => location.id, :"data-name" => location.name, :"data-longitude" => location.longitude, :"data-latitude" => location.latitude}
                  %td.selector
                    %input{:type=>"checkbox"}
                  %td.name= form.text_field "[#{i}][name]", :value => location.name
                  %td.long_name= form.text_field "[#{i}][long_name]", :value => location.long_name
                  %td.status
                    =select_tag "locations[#{i}][status]", options_for_select(workflow_actions(current_user, location), location.status)
                    =form.hidden_field "[#{i}][id]", :value => location.id
                  %td.city
                    = select_tag "locations[#{i}][city_id]", options_for_select([""] + City.dropdown_items, location.city_id), :style=>"width: 150px"
                  %td.tags
                    %span.list
                      = render :partial => "tags/collection", :locals => {:items => location.tags.map {|c| {:name => c.category.french, :delete_link => location_tag_url(c.location_id, c.id)}}}
                    = link_to "(+)", "#", :class => "add-category-inline"
                  %td.comments
                    = link_to location.comments.count, "#/comments/single/#{location.id}", :class => "comment_count"
                    = link_to "(+)", "#", :class => "add-comment-inline"
        #actions{:style=>"text-align: right; margin-right: 15px; margin-bottom: 20px; width: 100%"}
          = submit_tag "Apply Changes", :class => "button"
      .clear
      %br

- content_for :javascripts do
  :javascript
    (function($) {
      _.each(#{@locations_cache}, function(value) {
        Location.add(new Location(value));
      })
      _.each(#{@comments_cache}, function(value) {
        Comment.add(new Comment(value));
      })
    })(jQuery);


