.block_head
  %h2{:style=>"color: #434343; font-size: 13px"}
    %span.location_name
    = link_to " Next", params.merge(:action => "next"), :class => "navigate-poi next"
    = link_to "Previous ", params.merge(:action => "previous"), :class => "navigate-poi previous"
.block_content
  .editor-content
    %ul#tabs.tabs
      %li.active= link_to "Basic", "#geography"
      %li= link_to "Logo", "#logo"
      %li= link_to "Photos", "#photos"
      %li= link_to "Comments", "#comments"
      %li= link_to "Info", "#info"
      %li= link_to "History", "#history"
      %br
    #geography.tab
      = render :partial => "locations/portlets/coordinates"
    #logo.tab
      = render :partial => "locations/portlets/logos"
    #photos.tab
      = render :partial => "locations/portlets/photos"
    #comments.tab
      = render :partial => "locations/portlets/comments"
    #info.tab
      = render :partial => "locations/portlets/information"
    #history.tab
    //  = render :partial => "locations/portlets/history"
    .clear
