= content_for :title, "Edit Location"

- content_for :javascripts do
  = javascript_include_tag "mvc/locations/edit/init", :debug => Rails.env.development?

.block.editor
  .block_head
    %h2
      Edit Location #{@location.id}
      = link_to "Back", url_for(@navigation_params)
      = link_to "Previous POI", url_for(@cycling_params.merge({action: :previous}))
      = link_to "Next POI", url_for(@cycling_params.merge({action: :next}))
  .block_content
    #portlets
      .editor-content{:"data-id" => @location.id, :"data-name" => @location.name, :"data-longitude" => @location.longitude, :"data-latitude" => @location.latitude}
        = render :partial => "locations/portlets/map"
        #left.column
          = render :partial => "locations/portlets/feature", :locals => {:form_data => @form_data}
          = render :partial => "locations/portlets/logos", :locals => {:location => @location}
          = render :partial => "locations/portlets/photos", :locals => {:location => @location}
        .column
          = render :partial => "locations/portlets/tags", :locals => {:location => @location}
          = render :partial => "locations/portlets/information"
        .clear
      %br
      %br