= content_for :title, "Edit Location"

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/locations/edit/init", :debug => Rails.env.development?

.block.editor
  .block_head
    %h2
      Edit Location #{@location.id}
      = link_to "Back", locations_path(:page => session[:search_page], :per_page => session[:search_page_size])
      = link_to "Previous POI", previous_location_path(@location)
      = link_to "Next POI", next_location_path(@location)
  .block_content
    #portlets
      .editor-content{:"data-id" => @location.id, :"data-name" => @location.name, :"data-longitude" => @location.longitude, :"data-latitude" => @location.latitude}
        = render :partial => "locations/portlets/map"
        #left.column
          = render :partial => "locations/portlets/feature", :locals => {:form_data => @form_data}
          = render :partial => "locations/portlets/coordinates", :locals => {:location => @location}
          = render :partial => "locations/portlets/logos", :locals => {:location => @location}
          = render :partial => "locations/portlets/photos", :locals => {:location => @location}
          = render :partial => "locations/portlets/comments", :locals => {:location => @location, :comments => @comments}
        .column
          = render :partial => "locations/portlets/information"
          = render :partial => "locations/portlets/history", :locals => {:location => @location}
        .clear
      %br
      %br