= content_for :title, "Edit Location"
= render :partial => "shared/mapping_scripts"

.block.editor
  .block_head
    %h2 Edit Location #{@location.id}
    %ul
      %li.nobg= link_to "Back", locations_path
      %li.nobg= link_to "Previous POI", previous_location_path(@location)
      %li.nobg= link_to "Next POI", next_location_path(@location)
      %li.nobg= link_to "Save", "#", :class => "save"
  = semantic_form_for @location do |form|
    #edit-location-tabs
      .block_sub
        %ul
          %li= link_to "Feature", "#feature-tab"
          %li= link_to "Information", "#information-tab"
          %li= link_to "Coordinates", "#classification-tab"
          %li= link_to "History", "#history-tab"
        .clear
    .block_content
      .editor-content
        = render :partial => "locations/form/feature", :locals => {:form => form, :form_data => @form_data}
        = render :partial => "locations/form/information", :locals => {:form => form}
        = render :partial => "locations/form/classification", :locals => {:form => form}
        = render :partial => "locations/form/history", :locals => {:form => form, :location => @location}
        .clear

:javascript
  $(document).ready(function() {
    var options = {
      commentsContainer: $("li.comments .list"),
      commentsFetchUrl: "#{location_comments_url(object)}",
      locationId: '#{@location.id}',
      tagsContainer: $("li.tags .list"),
      tagsFetchUrl: '#{location_tags_url(object)}'
    };
    var editor = new LocationEditor(options);
  });
