= content_for :title, "Edit Location"

= include_javascripts :mapping
= stylesheet_link_tag 'ext-all.css'

.block.editor
  .block_head
    %h2 Edit Location #{@location.id}
    %ul
      %li.nobg= link_to "Back", locations_path(:page => session[:search_page], :per_page => session[:search_page_size])
      %li.nobg= link_to "Previous POI", previous_location_path(@location)
      %li.nobg= link_to "Next POI", next_location_path(@location)
      %li.nobg= link_to "Save", "#", :class => "save"
  #edit-location-tabs
    .block_sub
      %ul
        %li= link_to "Feature", "#/tabs/feature"
        %li= link_to "Information", "#/tabs/information"
        %li= link_to "History", "#/tabs/history"
      .clear
  .block_content
    %br
    #mappanel
    %br
    = semantic_form_for @location do |form|
      .editor-content
        = render :partial => "locations/form/feature", :locals => {:form => form, :form_data => @form_data}
        = render :partial => "locations/form/information", :locals => {:form => form}
        = render :partial => "locations/form/history", :locals => {:form => form, :location => @location}
        .clear
    %br
    %br

:javascript
  $(document).ready(function() {

    $(".save").click(function() {
      $(".block form").submit();
    });

    Comment.bind("add", function(new_comment) {
      var output = JST['comment_template']({comment: new_comment.to_hash()});
      $(output).appendTo($(".comments .list"));
    })

    Ext.onReady(function() {
      var settings = new Spatial.Models.Settings();
      var map = new Spatial.Models.Map(settings);
      var saveStrategy = new OpenLayers.Strategy.Save();

      var mapPanel = new GeoExt.MapPanel({
        region: "center",
        height: 200,
        width: 400,
        map: map.instance,
        bbar: [
          {
            text: "Save",
            handler: function() {
              saveStrategy.save();
            }
          }
        ]
      });

      var vecLayer = new OpenLayers.Layer.Vector("vector", {
        strategies: [new OpenLayers.Strategy.Fixed()],
         protocol: new OpenLayers.Protocol.HTTP({
            url: "/features/#{object.id}",
            headers: {"Accept": "application/json", "Content-Type": "application.json"},
            format: new OpenLayers.Format.GeoJSON()
         })
      });
      map.instance.addLayer(vecLayer);
      var style = new OpenLayers.Style({'fillColor': '#66C17B', 'fillOpacity': 0.6, 'pointRadius': 6, 'strokeWidth': 1, 'strokeColor': '#000'});
      var style_map = new OpenLayers.StyleMap({'default': style});
      vecLayer.styleMap = style_map;
      vecLayer.events.register('featuresadded', this, function(features) {
        map.instance.zoomToExtent(vecLayer.getDataExtent());
      });


      var modifyControl = new OpenLayers.Control.ModifyFeature(vecLayer);
      modifyControl.dragComplete = function(e) {
        e.state = OpenLayers.State.UPDATE;
      }
      mapPanel.map.addControl(modifyControl);
      modifyControl.activate();


      var jsonStore = new Ext.data.SimpleStore({
        fields: ["property", "value"],
        data: #{@props}
      });

      var gridPanel = new Ext.grid.GridPanel({
        title: "Geospatial Properties",
        store: jsonStore,
        autoExpandColumn: "value",
        colModel: new Ext.grid.ColumnModel({
           columns: [
            {id: 'property', header: 'Property', width: 200, sortable: true, dataIndex: 'property'},
            {id: 'value', header: 'Value', width: 200, sortable: true, dataIndex: 'value'}
          ]
        }),
        viewConfig: {
          forceFit: true
        },
        sm: new Ext.grid.RowSelectionModel({singleSelect:true}),
        region: "east",
        width: 420
      });

      var mainPanel = new Ext.Panel({
          renderTo: "mappanel",
          layout: "border",
          height: 200,
          width: 920,
          items: [mapPanel, gridPanel]
        });

      });

    var app = Sammy(function() {

      this.selected_locations = [#{object.id}];

      this.use(Sammy.FaceboxWidget);
      this.use(Sammy.CommentWidget);
      this.use(Sammy.CategoryWidget, #{@categories});
      this.use(Sammy.TabWidget, $(".block_sub li a"));

      this.get("#/", function(context) {
        this.closeFacebox();
        context.redirect("#/tabs/feature");
      })

      this.get("#/cancel", function(context) {
        context.redirect("#/");
      })

      this.get("#/comments/:location_id/accept", function(context) {
        var location_id = context.params['location_id'];
        this.acceptComment(context, location_id);
      });

      this.get('#/tabs/:view', function(context) {
        this.showTab(context.params["view"])
      });

      this.get("#/comments/:location_id", function(context) {
        var location_id = context.params['location_id'];
        this.showCommentWidget(context, location_id);
      });

      this.get('#/category/add', function(context) {
        this.showCategoryWidget(context, "#/category/add/accept", "Add Category", "add_tag");
      });

      this.get('#/category/add/accept', function(context) {
        var target = function(id) {
          return $(".tags .list");
        };
        this.addCategory(context, context.app.selected_locations, target);
        context.redirect("#/");
      });

    });

    $(function() {
      app.run('#/');
    });

  });
