.block
  .block_head
    %h2 Update Locations
  .block_content
    %table.layout
      %tr
        %td Choose a category for all the locations:
        %td= select_tag "category_switcher", options_for_select(@categories), :class => "styled_select"
      %tr
        %td Choose a status for all the locations:
        %td= select_tag "status_switcher", options_for_select(Location.new.enums(:status)), :class => "styled_select"
    = form_for "locations", :url => do_mass_update_locations_path do |form|
      %table.list.updates
        %tr
          %th
            %b Name
          %th
            %b Category
          %th
            %b Status
          %th
        - @locations.each_with_index do |location, i|
          %tr
            %td= location.name
            %td.category= location.try(:category).try(:french) || ""
            %td.status
              =location.status.to_s.humanize.upcase
              =form.hidden_field "[#{i}][id]", :value => location.id
            %td
              %a{:rel => "facebox", :href => quick_edit_location_url(object)}
                Edit

:css
  input {padding: 5px}
  .list.updates {width: 100%}
  .change {margin-right: 105px; margin-left: 15px}
  .change select {float: right}
  td.category select {width: 300px}
  td.status select {width: 180px}

:javascript
  $(document).ready(function() {
    $("#category_switcher").change(function() {
      $("td.category select").val($(this).val());
    });
    $("#status_switcher").change(function() {
      $("td.status select").val($(this).val());
    });
  });
