= content_for :title, "Points of Interest"

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/locations/index/init", :debug => Rails.env.development?

.block
  .block_head
    %h2 Points of Interest
  .block_content
    #portlets
      .portlet.map
        .portlet-header
          Map
        .portlet-content.nopadding
          #mappanel
      .map-footer
        .contents
          %ul
          .clear
        .tab show
      .clear{:style=>"height: 10px"}
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
          %option Export
          %option{:selected=>"selected"} Edit
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      = form_for :locations, :url => new_export_path do
        .portlet
          .portlet-header
            Listing
          .portlet-content.nopadding
            %table.main
              %thead
                %tr
                  %th
                    %input{:type=>"checkbox"}
                  %th= link_to "Name", url_for(@sort_params.merge({:sort => "name"}))
                  %th= link_to "City", url_for(@sort_params.merge({:sort => "city_name"}))
                  %th.tags Tags
                  %th.added_by= link_to "Added By", url_for(@sort_params.merge({:sort => "added_by"}))
                  %th.date_added= link_to "Date Added", url_for(@sort_params.merge({:sort => "created_at"}))
                  %th.last_changed= link_to "Last Changed", url_for(@sort_params.merge({:sort => "updated_at"}))
                  %th.status= link_to "Status", url_for(@sort_params.merge({:sort => "status"}))
                  %th{:style=>"display: none"} Long Name
                  %th{:style=>"display: none"} Street Name
                  %th{:style=>"display: none"} Comments
                  %th{:style=>"display: none"} Longitude
                  %th{:style=>"display: none"} Latitude
                  %th{:style=>"display: none"} Level 0
                  %th{:style=>"display: none"} Level 1
                  %th{:style=>"display: none"} Level 2
                  %th{:style=>"display: none"} Level 3
              %tbody
                - for location in @locations
                  %tr{:"data-id" => location.id, :"data-name" => location.name, :"data-longitude" => location.longitude, :"data-latitude" => location.latitude}
                    %td.selector
                      %input{:type=>"checkbox", :name=>"locations[]", :value => "#{location.id}"}
                    %td.name
                      - if location.name.length > 40
                        = image_tag("warning-icon.png")
                      = link_to location.name, edit_location_path(location, @navigation_params.merge({id: location.id}))
                    %td= location.city_name
                    %td= location.tag_list
                    %td= location.username
                    %td= location.created_at.strftime("%d-%m-%Y")
                    %td= location.updated_at.strftime("%d-%m-%Y")
                    %td= location.status.to_s.humanize.upcase
                    %td{:style=>"display: none"}= location.long_name
                    %td{:style=>"display: none"}
                    %td{:style=>"display: none"}= location.num_comments
                    %td{:style=>"display: none"}= location.longitude
                    %td{:style=>"display: none"}= location.latitude
                    %td{:style=>"display: none"}= location.boundary_0
                    %td{:style=>"display: none"}= location.boundary_1
                    %td{:style=>"display: none"}= location.boundary_2
                    %td{:style=>"display: none"}= location.boundary_3
            = render :partial => "shared/paging2", :locals => {:collection => @locations, :page_size => @per_page}

