- content_for :search do
  = render :partial => "action_bar"

= content_for :title, "Points of Interest"

.block
  .block_content
    #portlets
      .portlet.map
        .portlet-content.nopadding
          %div{:style=>"background-color: #F1F1F1; font-size: 9px; width: 100%; color: #434343; border-left: 1px solid #ccc; position: relative; left: -1px; border-right: 1px solid #ccc; border-bottom: 1px solid #bbb; opacity: 0.8"}
            %span.coordinates{:style=>"margin-left: 7px; width: 178px; display: inline-block"}
            %span.drawing
              %a#drawing-tool{:href=>"#", style: "margin-right: 10px"}
                Draw Search Area
            %span.drawing
              %a#eraser-tool{:href=>"#"}
                Clear Search Area
            %span{:style=>"float: right; margin-right: 17px"}
              %a#map-glossary{:href=>"#", :style=>""} Show Location Glossary +
          #mappanel
          %div#map-key{:style=>"height: 297px; display: none; width: 200px; z-index: 999999; position: absolute; right: 10px; top: 29px;  background: rgba(40, 40, 40, 0.8); color: white"}
            %ul
      .clear
      .toolbar{:style=>"margin-bottom: 10px; float: right"}
        %button.gray-button.collection-edit
          %div Edit
        - if current_user.has_role?("administrator")
          %button.gray-button.delete
            %div Delete
      .clear
      = form_for :locations, :url => new_export_path do
        .portlet
          .portlet-content.nopadding
            %table.main
              %thead
                %tr
                  %th
                    %input{:type=>"checkbox"}
                  %th= link_to "Name", "#", :"data-sort" => "name"
                  %th= link_to "City", "#", :"data-sort" => "city_name"
                  %th.tags Tags
                  %th.added_by= link_to "Added By", "#", :"data-sort" => "username"
                  %th.date_added= link_to "Added", "#",:"data-sort" => "pois.created_at"
                  %th.last_changed= link_to "Updated", "#",:"data-sort" => "pois.updated_at"
                  %th.status= link_to "Status", "#", :"data-sort" => "status"
              %tbody
            #pagination-wrapper
              #paggination
              %span#pagination-counter
            .clear
            .clear


:javascript
  $(function() {
    $.App = {};
    var collection = new GeoCMS.Collections.Locations(#{@locations.to_json});
    collection.criteria = new GeoCMS.Models.Search({per_page: 10, page: 1, total_entries: #{@total_entries}})

    var results = new GeoCMS.Views.LocationSearchResults({el: "table.main", locations: collection});
    results.render();

    new GeoCMS.Views.LocationCreator({el: "#search-bar"});

    new GeoCMS.Views.LocationSearch({el: "#search-bar", locations: collection});
  });

