= content_for :title, "Points of Interest"

.block
  .block_head
    %h2 Points of Interest
  .block_content
    #portlets
      #left.column
        .portlet.map
          .portlet-header
            Map
          .portlet-content.nopadding
            #mappanel
      .column
        .coordinates.portlet
          .portlet-header
            Index
          .portlet-content.nopadding
            %table
              %thead
                %tr{:style=>"background-color: rgb(251, 251, 251)"}
                  %th{:style=>"width: 20px"} ID
                  %th Name
              %tbody
      %br
      .clear
      = semantic_form_for :locations, :url => new_export_path do
        .portlet
          .portlet-header
            Listing
            %span
              - unless @locations.empty?
                - if @locations.any? {|l| current_user.may_update_location?(l)}
                  = link_to "Edit", "#"
                  |
                - if @locations.any? {|l| current_user.may_destroy_location?(l)}
                  = link_to "Delete", "#"
                  |
                = link_to "Export", "#"
          .portlet-content.nopadding
            %table.main{:cellspacing => "0", :cellpadding => "0", :style => "margin-left: 0px"}
              %tbody
                %tr
                  %th
                    %input{:type=>"checkbox"}
                  %th= link_to "Name", "#", :"data-sort" => "name"
                  %th= link_to "City", "#", :"data-sort" => "city_name"
                  %th.tags Tags
                  %th.added_by= link_to "Added By", "#", :"data-sort" => "username"
                  %th.date_added= link_to "Date Added", "#", :"data-sort" => "created_at"
                  %th.last_changed= link_to "Last Changed", "#", :"data-sort" => "updated_at"
                  %th.status= link_to "Status", "#", :"data-sort" => "status"
                - @locations.each do |location|
                  %tr
                    %td.selector
                      %input{:type=>"checkbox", :name=>"locations[]", :value => "#{location.id}"}
                    %td.name
                      - if location.name.length > 40
                        = image_tag("warning-icon.png")
                      = link_to location.name, edit_location_path(location)
                    %td= location.city_name
                    %td= location.tags.map {|t| t.category.french}.join(", ") || ""
                    %td= location.username
                    %td= location.created_at.strftime("%d-%m-%Y")
                    %td= location.updated_at.strftime("%d-%m-%Y")
                    %td= location.status.to_s.humanize.upcase
            .pagination-wrapper
              = render :partial => "shared/paging", :locals => {:collection => @locations, :page_size => @entries_per_page}
            .clear
            %span.page-size
              = page_entries_info @locations
            .clear

:javascript
  $(".map.portlet").locations_index_map(#{@locations.map{|l| l.id}});
  $(".coordinates.portlet").locations_index_coordinates();
  $(document).ready(function() {

    $("th a").click(function() {
      url = jQuery.param.querystring(window.location.href, {sort: $(this).data("sort"), page: 1});
      window.location = url;
    });

    $("th input[type=checkbox]").click(function() {
      var master = $(this);
      var isChecked = master.attr("checked");
      $("td input[type=checkbox]").attr("checked", isChecked);
    });

    var collection_change = function(url, method) {
      if ($("td.selector input:checked").length < 1) {
        alert("Please select one or more locations");
        return false;
      }
      $("form").attr("action", url);      
      if (method)   $('<input type="hidden" name="_method" value="' + method + '" />').appendTo($("form"));
      $("form").submit();
      return false;
    }

    $("a:contains('Edit')").click(function() {
      return collection_change('locations/edit')
    });

    $("a:contains('Delete')").click(function() {
      return collection_change('locations', 'delete')
    });

    $("a:contains('Export')").click(function() {
      $("form").attr("action", "/exports/prepare");
      $("form").submit();
      return false;
    });

  });

