- content_for :search do
  = render :partial => "action_bar"

= content_for :title, "Points of Interest"

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/locations/index/bulk_actions", :debug => Rails.env.development?

.block
  .block_content
    #portlets
      .portlet.map
        .portlet-content.nopadding
          %div{:style=>"background-color: #F1F1F1; font-size: 9px; width: 100%; color: #434343; border-left: 1px solid #ccc; position: relative; left: -1px; border-right: 1px solid #ccc; border-bottom: 1px solid #bbb; opacity: 0.8"}
            %span.coordinates{:style=>"margin-left: 7px; width: 178px; display: inline-block"}
            %span.drawing
              Draw Search Area
            %span.drawing
              Clear Search Area
            %span{:style=>"float: right; margin-right: 17px"}
              %a#map-glossary{:href=>"#", :style=>"color: #434343"} Show Location Glossary +
          #mappanel
          %div#map-key{:style=>"height: 297px; display: none; width: 200px; z-index: 999999; position: absolute; right: 10px; top: 29px;  background: rgba(40, 40, 40, 0.8); color: white"}
            %ul
      .clear
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
          %option Export
          %option{:selected=>"selected"} Edit
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      = semantic_form_for :locations, :url => new_export_path do
        .portlet
          .portlet-content.nopadding
            %table.main
              %thead
                %tr
                  %th
                    %input{:type=>"checkbox"}
                  %th= link_to "Name", "#", :"data-sort" => "name"
                  %th= link_to "City", "#", :"data-sort" => "city_name"
                  %th.tags Tags
                  %th.added_by= link_to "Added By", "#", :"data-sort" => "username"
                  %th.date_added= link_to "Added", "#",:"data-sort" => "pois.created_at"
                  %th.last_changed= link_to "Updated", "#",:"data-sort" => "pois.updated_at"
                  %th.status= link_to "Status", "#", :"data-sort" => "status"
              %tbody
            #pagination-wrapper


:javascript
  $(function() {
    $.App = {};
    $.App.Search = new GeoCMS.Models.Search({per_page: 10, page: 1})
    $.App.Locations = new GeoCMS.Collections.Locations(#{@locations.to_json});
    $.App.Locations.criteria = $.App.Search;

    var results = new GeoCMS.Views.LocationSearchResults({el: "table.main", locations: $.App.Locations});
    results.render();

    new GeoCMS.Views.LocationSearch({el: "#search-bar"});
    $(".bulk-actions").bulk_actions(jQuery.param.querystring());
  });

