- content_for :search do
  = render :partial => "action_bar"

= content_for :title, "Points of Interest"

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/locations/index/init", :debug => Rails.env.development?

.block
  .block_content
    #portlets
      .portlet.map
        .portlet-content.nopadding
          %div{:style=>"background-color: #F1F1F1; font-size: 9px;  width: 100%; color: #434343; border-left: 1px solid #ccc; position: relative; left: -1px; border-right: 1px solid #ccc; border-bottom: 1px solid #bbb; opacity: 0.8"}
            %span.coordinates{:style=>"margin-left: 7px; padding-top: 4px; margin-bottom: 10px"}
            %span{:style=>"float: right; margin-right: 17px"}
              %a#map-glossary{:href=>"#", :style=>"color: #434343"} Show Location Glossary +
          #mappanel
          %div#map-key{:style=>"height: 297px; display: none; width: 200px; z-index: 999999; position: absolute; right: 20px; top: 29px;  background: rgba(40, 40, 40, 0.8); color: white"}
            %ul
      .clear
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
          %option Export
          %option{:selected=>"selected"} Edit
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      = semantic_form_for :locations, :url => new_export_path do
        .portlet
          .portlet-content.nopadding
            %table.main
              %thead
                %tr
                  %th
                    %input{:type=>"checkbox"}
                  %th= link_to "Name", url_for(@sort_params.merge({:sort => "name"}))
                  %th= link_to "City", url_for(@sort_params.merge({:sort => "city_name"}))
                  %th.tags Tags
                  %th.added_by= link_to "Added By", url_for(@sort_params.merge({:sort => "username"}))
                  %th.date_added= link_to "Added", url_for(@sort_params.merge({:sort => "pois.created_at"}))
                  %th.last_changed= link_to "Updated", url_for(@sort_params.merge({:sort => "pois.updated_at"}))
                  %th.status= link_to "Status", "#", :"data-sort" => "status"
              %tbody
                - for location in @locations
                  %tr{:"data-id" => location.id, :"data-name" => location.name, :"data-longitude" => location.longitude, :"data-latitude" => location.latitude, :"data-boundary-0" => location.boundary_0, :"data-boundary-1" => location.boundary_1, :"data-boundary-2" => location.boundary_2, :"data-boundary-3" => location.boundary_3, :"data-boundary-4" => location.boundary_4}
                    %td.selector
                      %input{:type=>"checkbox", :name=>"locations[]", :value => "#{location.id}"}
                    %td.name
                      - if location.name.length > 40
                        = image_tag("warning-icon.png")
                      = link_to location.name, edit_location_path(location)
                    %td= location.city_name
                    %td= location.tags.map {|t| t.category.french}.join(", ") || ""
                    %td= location.username
                    %td= location.created_at.strftime("%d-%m-%Y")
                    %td= location.updated_at.strftime("%d-%m-%Y")
                    %td= location.status.to_s.humanize.upcase
            = render :partial => "shared/paging", :locals => {:collection => @locations, :page_size => @per_page}

