- content_for :search do
  = render :partial => "shared/location_search_bar"

= content_for :title, "Points of Interest"

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/locations/index/init", :debug => Rails.env.development?

.block
  .block_head
    %h2 Points of Interest
  .block_content
    #portlets
      .portlet.map
        .portlet-content.nopadding
          #mappanel
      .map-footer
        .contents
          %ul
          .clear
        .tab show
      .clear{:style=>"height: 10px"}
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
          %option Export
          %option{:selected=>"selected"} Edit
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      = semantic_form_for :locations, :url => new_export_path do
        .portlet
          .portlet-content.nopadding
            %table.main
              %thead
                %tr
                  %th
                    %input{:type=>"checkbox"}
                  %th= link_to "Name", "#", :"data-sort" => "name"
                  %th= link_to "City", "#", :"data-sort" => "city_name"
                  %th.tags Tags
                  %th.added_by= link_to "Added By", "#", :"data-sort" => "username"
                  %th.date_added= link_to "Date Added", "#", :"data-sort" => "created_at"
                  %th.last_changed= link_to "Last Changed", "#", :"data-sort" => "updated_at"
                  %th.status= link_to "Status", "#", :"data-sort" => "status"
              %tbody
                - for location in @locations
                  %tr{:"data-id" => location.id, :"data-name" => location.name, :"data-longitude" => location.longitude, :"data-latitude" => location.latitude}
                    %td.selector
                      %input{:type=>"checkbox", :name=>"locations[]", :value => "#{location.id}"}
                    %td.name
                      - if location.name.length > 40
                        = image_tag("warning-icon.png")
                      = link_to location.name, edit_location_path(location)
                    %td= location.city_name
                    %td= location.tags.map {|t| t.category.french}.join(", ") || ""
                    %td= location.username
                    %td= location.created_at.strftime("%d-%m-%Y")
                    %td= location.updated_at.strftime("%d-%m-%Y")
                    %td= location.status.to_s.humanize.upcase
            = render :partial => "shared/paging", :locals => {:collection => @locations, :page_size => @per_page}

