= content_for :title, "Points of Interest"

.block
  .block_head
    %h2 Points of Interest
    %ul
      %li.nobg= link_to "Search", new_search_path
      %li.nobg= link_to "New Location", new_location_path
      - unless @locations.empty?
        - if @locations.any? {|l| current_user.may_update_location?(l)}
          %li.nobg.collection_edit= link_to "Edit Selection", "#"
        - if @locations.any? {|l| current_user.may_destroy_location?(l)}
          %li.nobg.collection_delete= link_to "Delete Selection", "#"
        %li.nobg.export= link_to "Export SELECTION", "#"
  .block_content
    = semantic_form_for :locations, :url => new_export_path do
      %table.main{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
        %tbody
          %tr
            %th
              %input{:type=>"checkbox"}
            %th
              = link_to "Name", "#", :"data-sort" => "name"
            %th
              = link_to "City", "#", :"data-sort" => "city_name"
            %th.tags
              Tags
            %th.added_by
              = link_to "Added By", "#", :"data-sort" => "username"
            %th.date_added
              = link_to "Date Added", "#", :"data-sort" => "created_at"
            %th.last_changed
              = link_to "Last Changed", "#", :"data-sort" => "updated_at"
            %th.status
              = link_to "Status", "#", :"data-sort" => "status"
          - @locations.each do |location|
            %tr
              %td.selector
                %input{:type=>"checkbox", :name=>"locations[]", :value => "#{location.id}"}
              %td.name
                - if location.name.length > 40
                  = image_tag("warning-icon.png")
                = link_to location.name, edit_location_path(location)
              %td= location.city_name
              %td= location.tags.map {|t| t.category.french}.join(", ") || ""
              %td= location.username
              %td= location.created_at.strftime("%d-%m-%Y")
              %td= location.updated_at.strftime("%d-%m-%Y")
              %td= location.status.to_s.humanize.upcase 
    %br
      %div
        = render :partial => "shared/paging", :locals => {:collection => @locations}
    %div.clear
    %span{:style=>"float: right; margin-bottom: 20px"}
      = page_entries_info @locations

:javascript
  $(document).ready(function() {

    $("th a").click(function() {
      url = jQuery.param.querystring(window.location.href, {sort: $(this).data("sort"), page: 1});
      window.location = url;
    });

    $("th input[type=checkbox]").click(function() {
      var master = $(this);
      var isChecked = master.attr("checked");
      $("td input[type=checkbox]").attr("checked", isChecked);
    });

    var collection_change = function(url, method) {
      if ($("td.selector input:checked").length < 1) {
        alert("Please select one or more locations");
        return false;
      }
      $("form").attr("action", url);      
      if (method)   $('<input type="hidden" name="_method" value="' + method + '" />').appendTo($("form"));
      $("form").submit();
      return false;
    }

    $("li.collection_edit a").click(function() {
      return collection_change('locations/edit')
    });

    $("li.collection_delete a").click(function() {
      return collection_change('locations', 'delete')
    });

    $("li.export a").click(function() {
      $("form").attr("action", "/exports/prepare");
      $("form").submit();
      return false;
    });
  });
