= content_for :title, "New Location"

= include_javascripts :mapping

.block.editor
  .block_head
    %h2 Create Feature
    %ul
      %li.nobg= link_to "Back", locations_path
      %li.nobg= link_to "Save", "#", :class => "save"
  = semantic_form_for @location do |form|
    #edit-location-tabs
      .block_sub
        %ul
          %li= link_to "Feature", "#feature-tab"
          %li= link_to "Information", "#information-tab"
          %li= link_to "Coordinates", "#classification-tab"
          - if @location.persisted?
            %li= link_to "History", "#history-tab"
        .clear
      .block_content
        .editor-content
          = render :partial => "locations/form/feature", :locals => {:form => form, :form_data => @form_data}
          = render :partial => "locations/form/information", :locals => {:form => form}
          = render :partial => "locations/form/classification", :locals => {:form => form}
          - if @location.persisted?
            = render :partial => "locations/form/history", :locals => {:form => form, :location => @location}
          .clear

