= content_for :title, t('view_exports')
.block
  .block_head
    %h2
      =t('exports')
      = link_to t('create_selection'), "/exports/selection"
  .block_content
    #portlets
      .portlet
        .portlet-header
          =t('listing')
        .portlet-content.nopadding
          - if @exports && @exports.count > 0
            %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
              %thead
                %tr
                  %th
                    =t('name')
                  %th{:style=>"width: 100px"} 
                    =t('export_format')
                  %th{:style=>"width: 100px"} 
                    =t('date_exported')
                  %th{:style=>"width: 100px"} 
                    =t('location_count')
              %tbody
                - @exports.each do |export|
                  %tr
                    %td= link_to export.name, export.output.url
                    %td= export.output_format
                    %td= export.created_at.strftime("%d-%m-%Y")
                    %td= export.locations_count
            %br
              %div
                = render :partial => "shared/paging", :locals => {:collection => @exports, :page_size => @per_page}
          - else
            %p
              %br
                =t('no_exports')
          %br