= content_for :title, "View Exports"
.block
  .block_head
    %h2
      Exports
  .block_content
    #portlets
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      .portlet
        .portlet-content.nopadding.table
          - if @exports && @exports.count > 0
            %table
              %thead
                %tr
                  %th.selector= check_box_tag 'selector'
                  %th Name
                  %th{:style=>"width: 100px"} User
                  %th{:style=>"width: 100px"} Export Format
                  %th{:style=>"width: 100px"} Date Exported
                  %th{:style=>"width: 100px"} Location Count
              %tbody
                - @exports.each do |export|
                  %tr
                    %td.selector= check_box_tag 'selector'
                    %td= link_to export.name, export.output.url
                    %td= export.user.login
                    %td= export.output_format
                    %td= export.created_at.strftime("%d-%m-%Y")
                    %td= export.locations_count
          = render :partial => "shared/paging", :locals => {:collection => @exports, :page_size => @per_page}
