= content_for :title, "View Exports"

- content_for :search do
  #search-bar
    .wrapper
      .clear
      %form{:method=>"get", :style=>"padding-top: 17px; width: 700px; display: inline"}
        %h1{:style=>"float: left; color: #434343; margin-left: 20px; width: 140px"}
          Exports
        %input{:type=>"text", :id=>"s[name]", :name=>"s[name]", :style => "width: 385px"}
        %button#submit.nodropdown
          %div
            =image_tag "search_white.png"
      %form{:method=>"get", :action => "/exports/selection", :style=>"padding-top: 17px; display: inline; width: 150px"}
        %button.action-button
          %div
            export data
.block
  .block_content
    #portlets
      .portlet
        .portlet-content.nopadding
          - if @exports && @exports.count > 0
            %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
              %thead
                %tr
                  %th Name
                  %th{:style=>"width: 100px"} Export Format
                  %th{:style=>"width: 100px"} Date Exported
                  %th{:style=>"width: 100px"} Location Count
              %tbody
                - @exports.each do |export|
                  %tr
                    %td= link_to export.name, export.output.url
                    %td= export.output_format
                    %td= export.created_at.strftime("%d-%m-%Y")
                    %td= export.locations_count
            %br
              %div
                = render :partial => "shared/paging", :locals => {:collection => @exports, :page_size => @per_page}
          - else
            %p
              %br
              No exports are currently available
          %br