= content_for :title, "View Exports"

- content_for :search do
  #search-bar
    .wrapper
      .clear
      %form.search{:method=>"get"}
        %h1
          Exports
        %input{:type=>"text", :id=>"query", :name=>"s[name]"}
        .aoq-wrapper
          .aoq{style: "background: none; cursor: auto"}
        %button.search-button
          %div
            = image_tag "search_white.png"
      %form.new{:method=>"get", :action => "/exports/selection"}
        %button.red-button
          %div
            Export Data
.block
  .block_content
    #portlets
      .portlet
        .portlet-content.nopadding
          - if @exports && @exports.count > 0
            %table{:cellspacing => "0", :cellpadding => "0", :style => "width: 100%; margin-left: 0px"}
              %thead
                %tr
                  %th Name
                  %th{:style=>"width: 100px"} Export Format
                  %th{:style=>"width: 100px"} Date Exported
                  %th{:style=>"width: 100px"} Location Count
              %tbody
                - @exports.each do |export|
                  %tr
                    %td= link_to export.name, export.output.url
                    %td= export.output_format
                    %td= export.created_at.strftime("%d-%m-%Y")
                    %td= export.locations_count
            %br
              %div
                = render :partial => "shared/paging", :locals => {:collection => @exports, :page_size => @per_page}
          - else
            %p
              %br
              No exports are currently available
          %br