= content_for :title, =('new_export')

.block
  .block_head
    %h2
      =t('export_poi')
  .block_content
    #portlets
      .portlet
        .portlet-header
          =t('output')
        .portlet-content
          = semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |f|
            = f.input :name, :class => "text"
            = f.input :output_platform, :collection => object.enums(:output_platform).select_options.map {|option| [option[0].upcase, option[1].upcase]}
            = f.commit_button :label => t('export')