= content_for :title, t('export_selection')

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/exports/init", :debug => Rails.env.development?

.block
  .block_head
    %h2 
      =t('create_selection')
  .block_content
    = semantic_form_for :s, :url => "/exports/prepare" do |form|
      #portlets
        #left.column
          .portlet.countries
            .portlet-header
              =t('boundaries')
            .portlet-content.nopadding
              %table.main
                %thead
                  %tr
                    %th.selector
                      %input{:type=>"checkbox"}
                    %th 
                      =t('country')
                %tbody
                  - for country in @all_countries
                    %tr
                      %td.selector
                        %input{:type=>"checkbox", :value=>country[1], :name => "export[countries][]"}
                      %td
                        = country[0]
          .portlet.categories
            .portlet-header
              =t('partner_cat')
              %span{:style=>"margin-right: 0"}
                =t('partner')
                = select_tag("", options_for_select(@all_partners, @selected_partner.id))
            .portlet-content.nopadding{:style=>"height: 300px; overflow-y: scroll"}
              %table.main
                %thead
                  %tr
                    %th.selector
                      %input{:type=>"checkbox"}
                    %th
                      =t('category')
                %tbody
                  - for category in @all_categories
                    %tr
                      %td.selector
                        %input{:type=>"checkbox", :value=>category.id, :name => "export[categories][]"}
                      %td
                        = "#{category.french || "-" } / #{category.english || "-" }"
        .column
          .portlet.workflow
            .portlet-header
              =t('workflow')
            .portlet-content.nopadding
              %table.main
                %thead
                  %tr
                    %th.selector
                      %input{:type=>"checkbox"}
                    %th 
                      =t('status')
                %tbody
                  - for status in @all_statuses
                    %tr
                      %td.selector
                        %input{:type=>"checkbox", :value=>status[1], :name => "export[statuses][]"}
                      %td
                        = status[0]
          .portlet.users
            .portlet-header
              =t('users')
            .portlet-content.nopadding{:style=>"height: 412px; overflow-y: scroll"}
              %table.main
                %thead
                  %tr
                    %th.selector
                      %input{:type=>"checkbox"}
                    %th 
                      =t('username_')
                %tbody
                  - for user in @all_users
                    %tr
                      %td.selector
                        %input{:type=>"checkbox", :value=>user[1], :name => "export[users][]"}
                      %td
                        = user[0]
      %div{:style=>"float: right; font-size: 16px; margin-left: 15px; margin-top: 10px"}
        %b.location#count
          0
          =t('location_exported')
        %input{:class=>"button long", :style=>"margin-right: 15px; position: relative; top: -3px; margin-bottom: 20px; margin-left: 10px",:type=>"submit", :value=>"Export"}