!!! XML
!!!
%html
  %head
    %title= "GeoCMS - #{h yield(:title)}"
    = csrf_meta_tag
    = stylesheet_link_tag "/assets/application", :debug => Rails.env.development?
    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25526195-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    #hld
      .wrapper
        #header
          %h1= link_to "GeoCMS", dashboard_path
          %ul#nav
            %li
              = link_to t('geospatial_database'), dashboard_path
              %ul
                %li= link_to t('search'), new_search_path
                %li= link_to t('point_of_interest'), locations_path(:s => :reset)
                %li= link_to t('categories'), categories_path(:page => 1)
                %li= link_to t('collectors'), counters_path
                %li= link_to t('boundaries'), boundaries_path
                %li= link_to t('cities'), cities_path
                %li= link_to t('partners'), partners_path
                %li=link_to t('road_network'), roads_path
            %li
              = link_to t('data_management'), "#"
              %ul
                - unless current_user.has_role?("collector")
                  %li= link_to t('import_data'), imports_path
                  - if current_user.has_role?("administrator")
                    %li= link_to t('export_data'), exports_path
                  %li= link_to t('compare_map_providers'), map_path
                  %li= link_to t('auditing_trails'), audits_path
            %li
              = link_to t('administration'), "#"
              %ul
                %li= link_to t('your_account'), account_path
                - if current_user.has_role?("administrator")
                  %li= link_to t('users'), users_path
            %li
              = link_to t('_support'), "#"
              %ul
                %li= link_to t('wiki'), "http://wiki.0-one.net"
                %li= link_to t('tickets'), "https://codeifier.lighthouseapp.com/"
                - if current_user.has_role?("administrator")
                  %li= link_to t('logs'), "#"
                  %li= link_to t('exceptions'), "http://codeifier.hoptoadapp.com/"
          %p.user
            =t('hello')
            = link_to @current_user.login, "#"
            |
            = link_to t('logout'), user_sessions_path, :method => :delete, :confirm => t('confirmation')
        = yield
        #footer
          %p.left
            = link_to "GeoCMS @ 0-One", "http://www.0-one.net"
          %p.right
            Powered by
            = link_to "Codeifier Labs", "#"
    = javascript_include_tag "/assets/application", :debug => Rails.env.development?
    = yield :javascripts