<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>GeoCMS - <%=h yield(:title) %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'admin' %>
    <% stylesheet_link_tag 'shared' %>
	<script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8rc3.custom.min.js"></script>
    <script type="text/javascript" src="/javascripts/theme/facebox.js"></script>
	<script type="text/javascript" src="/javascripts/theme/jquery.img.preload.js"></script>
	<script type="text/javascript" src="/javascripts/theme/jquery.filestyle.mini.js"></script>
	<script type="text/javascript" src="/javascripts/theme/jquery.date_input.pack.js"></script>
	<script type="text/javascript" src="/javascripts/theme/excanvas.js"></script>
	<script type="text/javascript" src="/javascripts/theme/jquery.visualize.js"></script>
	<script type="text/javascript" src="/javascripts/theme/jquery.select_skin.js"></script>
    <script type="text/javascript" src="/javascripts/rails.js"></script>
	<script type="text/javascript" src="/javascripts/theme/custom.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="/javascripts/geocms.rails.js"></script>
</head>
<body class="<%="#{controller.controller_name} #{controller.action_name}"%>">
	<div id="hld">
		<div class="wrapper">
			<div id="header">
				<h1><%= link_to "Gowane", dashboard_path %></h1>
				<ul id="nav">
					<li><%= link_to "Geospatial Database", dashboard_path %>
                        <ul>
                            <li><%= link_to "Points of Interest", locations_path(:s => :reset)%></li>
                            <li><%= link_to "Categories", categories_path(:page => 1) %></li>
                             <li><%= link_to "Collectors", counters_path %></li>
                            <li><%= link_to "Statistics", "/stats?depth=0" %></li>
                            <li><%= link_to "Cities", cities_path %></li>
                            <li><%= link_to "Entire Map", map_path %></li>
                        </ul>
					</li>
                    <li>
                        <a href="#">Data Management</a>
                        <ul>
                            <% unless current_user.has_role?("collector") %>
                                <li><%= link_to "Import Data", imports_path %></li>
                                <li><%= link_to "Export Data", exports_path %></li>
                            <% end %>
                        </ul>
                    </li>
					<li>
                        <a href="#">Administration</a>
                        <ul>
                            <li>
                                <%= link_to "Your Account", account_path %></li>
                            <% if current_user.has_role?("administrator") %>
                                <li><%= link_to "Users", users_path %></li>
                            <% end %>

                             <li><%= link_to "Scheduled Jobs", periodic_jobs_path %></li>
                        </ul>
                    </li>
				</ul>
				<p class="user">Hello, <a href="#"><%= @current_user.login %></a> | <%= link_to "Logout", user_sessions_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></p>
			</div>
            <%= yield %>
            <div id="footer">
                <p class="left"><a href="http://www.0-one.net">Gowane @ 0-One</a></p>
                <p class="right">Powered by <a href="#">Codeifier Labs</a></p>
            </div>
		</div>
	</div>
</body>
</html>
